.eptHeaderToolbar{
    --background: #3c8dbc;
}
.eptHeaderTitle{
    color: white;
}
ion-menu-button{
    --color:white !important;
     color:white !important;
}
ion-back-button{
    --color:white !important;
     color:white !important;  
}
.backIcon{
font-size: 24px;
color: white;
padding: 11px;
}