.eptHeaderToolbar{
    --background: #3c8dbc;
}
.eptHeaderTitle{
    color: white;
}
.title{
    font-size: 17px!important;
}
ion-menu-button{
    --color:white !important;
     color:white !important;
}
ion-back-button{
    --color:white !important;
     color:white !important;  
}
.backIcon{
    font-size: 25px!important;
    color: white;
    padding: 11px;
    // margin-top: -30px;
}