<ion-header>
  <ion-toolbar class="eptHeaderToolbar">
          <ion-buttons slot="start">
            <ion-menu-button *ngIf="isMenuOrBackButton=='menu'"></ion-menu-button>
            <!-- <ion-back-button *ngIf="isMenuOrBackButton=='back'" (click)="goBack(titleHeader)"></ion-back-button> -->
            <ion-icon ios="ios-arrow-back" class="backIcon" *ngIf="isMenuOrBackButton=='back'"
            (click)="goBack(titleHeader)" name="arrow-back" md="md-arrow-back"></ion-icon>
          </ion-buttons>
          <ion-title class="eptHeaderTitle">
            {{titleHeader}}
          </ion-title>
  </ion-toolbar>
</ion-header>