<app-header [titleHeader]="'DBS - Early Infant Diagnosis'" [isMenuOrBackButton]="'back'"></app-header>


<ion-content>
  <ion-row>
    <p *ngIf="viewAccessMessage" class="accessMsg">{{viewAccessMessage}}</p>
  </ion-row>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngIf="showParticipantData" [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ion-grid class="panelHeading">
            <ion-row>
              <ion-col size="12" class="grid-readonly-col">
                <span class="text-title-color">Participant Details</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-grid>
        <ion-row *ngIf="participantData.participantName">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Participant Name </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{participantData.participantName}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="participantData.participantCode">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Participant Code </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{participantData.participantCode}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="participantData.affiliation">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Affiliation </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{participantData.affiliation}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="participantData.phone">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Phone No </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{participantData.phone}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="participantData.mobile">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Mobile No</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span> {{participantData.mobile}}</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <form #shipmentPanelForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showShipmentData" [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Shipment Details</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="validShipmentDetails==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>

        </mat-expansion-panel-header>

        <ion-grid>
          <ion-row *ngIf="shipmentData.shipmentDate">
            <ion-col size="5" class="grid-readonly-col">
              <p text-wrap>
                <span class="text-title-color">Shipment Date </span>
              </p>
            </ion-col>
            <ion-col size="1" class="grid-readonly-col">
              <p text-wrap>
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col class="grid-readonly-col">
              <p text-wrap>
                <span>{{shipmentData.shipmentDate}}</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="shipmentData.resultDueDate">
            <ion-col size="5" class="grid-readonly-col">
              <p text-wrap>
                <span class="text-title-color">Result Due Date </span>
              </p>
            </ion-col>
            <ion-col size="1" class="grid-readonly-col">
              <p text-wrap>
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col class="grid-readonly-col">
              <p text-wrap>
                <span>{{shipmentData.resultDueDate}}
                </span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Shipment Receipt Date</mat-label>
                <input matInput [matDatepicker]="testReceiptPicker" class="datepicker-input"
                  [(ngModel)]="shipmentData.testReceiptDate" [disabled]="isView=='true'" #eidTestRecieptDate="ngModel"
                  name="eidTestRecieptDate" placeholder="Choose Shipment Receipt date" required>
                <mat-datepicker-toggle matSuffix [for]="testReceiptPicker"></mat-datepicker-toggle>
                <mat-datepicker #testReceiptPicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.testReceiptDate">Shipment Receipt Date is required
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Sample Rehydration Date</mat-label>
                <input matInput [matDatepicker]="sampleRhdPicker" #eidSampleRehydrationDate="ngModel"
                  name="eidSampleRehydrationDate" [(ngModel)]="shipmentData.sampleRehydrationDate"
                  placeholder="Choose Sample Rehydration Date" [disabled]="isView=='true'" required>
                <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
                <mat-datepicker #sampleRhdPicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.sampleRehydrationDate">
                  Sample Rehydration Date is required
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Shipment Testing Date</mat-label>
                <input matInput [matDatepicker]="testDatePicker" [(ngModel)]="shipmentData.shipmentTestingDate"
                  placeholder="Choose Shipment Testing Date" #eidTestingDate="ngModel" name="eidTestingDate" required
                  [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #testDatePicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.shipmentTestingDate">
                  Shipment Testing Date is required
                </mat-error>

              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Extraction Assay </mat-label>
                <mat-select [(ngModel)]="shipmentData.extractionAssay" #extractionAssay="ngModel" name="extractionAssay"
                  [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let vl of shipmentData.extractionAssayDropdown" [value]="vl.value">
                    {{vl.show}}
                  </mat-option>
                </mat-select>

                <!-- <mat-error *ngIf="!shipmentData.extractionAssay">Please choose Extraction Assay </mat-error> -->
              </mat-form-field>

            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Detection Assay </mat-label>
                <mat-select [(ngModel)]="shipmentData.detectionAssay" #detAssay="ngModel" name="detAssay"
                  [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let vl of shipmentData.detectionAssayDropdown" [value]="vl.value">
                    {{vl.show}}
                  </mat-option>
                </mat-select>

                <!-- <mat-error *ngIf="!shipmentData.detectionAssay">Please choose Detection Assay </mat-error> -->
              </mat-form-field>

            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Extraction Assay Lot No.</mat-label>
                <input matInput [(ngModel)]="shipmentData.extractionLotNumber"
                  placeholder="Enter Extraction Assay Lot No." #extLotNo="ngModel" name="extLotNo" required
                  [disabled]="isView=='true'">
                <mat-error *ngIf="!shipmentData.extractionLotNumber">
                  Extraction Assay Lot No is required
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form"
                [ngClass]="{ 'mat-form-field-invalid': !shipmentData.detectionLotNumber || (!shipmentData.detectionLotNumber  && isSubmitted)}"
                appearance="outline">
                <mat-label>Detection Assay Lot No.</mat-label>
                <input matInput [(ngModel)]="shipmentData.detectionLotNumber"
                  placeholder="Enter Detection Assay Lot No." #detLotNo="ngModel" name="detLotNo" required
                  [disabled]="isView=='true'">
                <mat-error
                  *ngIf="!shipmentData.detectionLotNumber || (!shipmentData.detectionLotNumber  && isSubmitted)">
                  Detection Assay Lot No is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Extraction Assay Expiration Date</mat-label>
                <input matInput [matDatepicker]="extAssayExpiryDate" [(ngModel)]="shipmentData.extractionExpirationDate"
                  placeholder="Choose a Date" #extExpDate="ngModel" name="extExpDate" required
                  [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="extAssayExpiryDate"></mat-datepicker-toggle>
                <mat-datepicker #extAssayExpiryDate [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.extractionExpirationDate">
                  Extraction Assay Expiration Date is required
                </mat-error>

              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Detection Assay Expiration Date</mat-label>
                <input matInput [matDatepicker]="detAssayExpiryDate" #detExpDate="ngModel" name="detExpDate"
                  [(ngModel)]="shipmentData.detectionExpirationDate" placeholder="Choose a date" required
                  [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="detAssayExpiryDate"></mat-datepicker-toggle>
                <mat-datepicker #detAssayExpiryDate [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.detectionExpirationDate">
                  Detection Assay Expiration Date is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-xs class="grid-input-col" *ngIf="isPartiEditRespDate">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Response Date</mat-label>
                <input matInput [matDatepicker]="respDate" placeholder="Choose a date" #eidrespDate="ngModel"
                  name="eidrespDate" [(ngModel)]="shipmentData.responseDate" [required]="isPartiEditRespDate"
                  [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="respDate"></mat-datepicker-toggle>
                <mat-datepicker #respDate [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.responseDate && isPartiEditRespDate"> Response Date is required
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col" *ngIf="isPartiEditModeRec">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Mode of Receipt</mat-label>
                <mat-select [(ngModel)]="shipmentData.modeOfReceipt" #receiptmode="ngModel" name="receiptmode"
                  [required]="isPartiEditModeRec" [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of shipmentData.modeOfReceiptDropdown" [value]="item.value">
                    {{item.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!shipmentData.modeOfReceipt && isPartiEditModeRec">Please choose the Mode Of Receipt
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isQCDoneShow && participantQcAccess">
            <ion-col size="12">
              <mat-label class="matLabel" style="margin-left: 10px;font-size: 13px;">QC Done</mat-label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="login-full-width grid-col-form"
                [(ngModel)]="qcDone" name="eidQcDone" #eidQcDone="ngModel" required [disabled]="isView=='true'">
                <mat-radio-button class="example-radio-button" *ngFor="let qcData of qcRadioArray"
                  [value]="qcData.value">
                  {{qcData.show}}
                </mat-radio-button>
              </mat-radio-group>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isQCDoneShow && qcDone=='yes' && participantQcAccess">
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>QC Date</mat-label>
                <input matInput [matDatepicker]="qcDatePicker" [(ngModel)]="qcDate" placeholder="Choose QC Date"
                  [required]="isQCDoneShow && qcDone=='yes'" name="eidQcDate" #eidQcDate="ngModel"
                  [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="qcDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #qcDatePicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!qcDate">QC Date is required</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>QC Done By </mat-label>
                <input matInput [(ngModel)]="qcDoneBy" name="eidqcDoneBy" #eidqcDoneBy="ngModel"
                  placeholder="Enter QC Done by" [required]="isQCDoneShow && qcDone=='yes'" [disabled]="isView=='true'">
                <mat-error *ngIf="!qcDoneBy">Please enter QC done by name</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>

        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn" type="submit" (click)="checkShipmentPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>
    <form #PTPanelTestForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showPTPanelData" [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color"> PT Panel Test</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidPTPanel">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-row>
          <ion-col class="grid-input-col">
            <section class="div-section">
              <mat-checkbox [(ngModel)]="ptPanelNotTested" name="eidPtPanelTest" #eidPtPanelTest="ngModel"
                [disabled]="isView=='true'">PT panel not tested</mat-checkbox>
            </section>
          </ion-col>
        </ion-row>
        <section *ngIf="ptPanelNotTested==false || !ptPanelNotTested">


          <div *ngIf="ptPanelData.sampleTextData">

            <mat-card class="dynamic-card" *ngFor="let sampleName of ptPanelData.sampleTextData.label ;let i = index">
              <mat-card-title>
                {{sampleName}}
                <span class="danger-text" *ngIf="ptPanelData.sampleTextData.mandatory[i]==true">*</span>
              </mat-card-title>
              <mat-card-content>

                <ion-row>
                  <ion-col class="grid-input-col">
                    <p class="no-padding" style="margin-top: 0;" *ngIf="ptPanelData.resultsTextData[0]">
                      {{ptPanelData.resultsTextData[0]}}
                    </p>
                    <mat-form-field class="login-full-width " appearance="outline"
                      [ngClass]="{ 'mat-form-field-invalid':ptPanelData.sampleTextData.mandatory[i]==true && !yourResultArray[i],'mat-form-field-valid': ptPanelData.sampleTextData.mandatory[i]==false}"
                      *ngIf="ptPanelData.samplesList">
                      <mat-label>{{ptPanelData.resultsTextData[1]}}</mat-label>
                      <mat-select [(ngModel)]="yourResultArray[i]" name="yourResult[{{i}}]" #yourResult="ngModel"
                        [disabled]="isView=='true'" [required]="ptPanelData.sampleTextData.mandatory[i]==true">
                        <mat-option>--Select--</mat-option>
                        <mat-option *ngFor="let item of ptPanelData.samplesList[sampleName]['Your-Results']"
                          [value]="item.value">
                          {{item.show}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="ptPanelData.sampleTextData.mandatory[i]==true && !yourResultArray[i]">Please
                        Enter {{ptPanelData.resultsTextData[1]}}</mat-error>

                    </mat-form-field>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="grid-input-col">

                    <mat-form-field class="login-full-width grid-col-form"
                      [ngClass]="{ 'mat-form-field-invalid':ptPanelData.sampleTextData.mandatory[i]==true && !hivCTODArray[i],'mat-form-field-valid': ptPanelData.sampleTextData.mandatory[i]==false}"
                      appearance="outline">
                      <mat-label>{{ptPanelData.resultsTextData[2]}}</mat-label>
                      <input matInput [(ngModel)]="hivCTODArray[i]" [disabled]="isView=='true'"
                        placeholder="Enter HIV CT/OD" name="hivCTOD[{{i}}]" #hivCTOD="ngModel"
                        [required]="ptPanelData.sampleTextData.mandatory[i]==true">
                      <mat-error *ngIf="ptPanelData.sampleTextData.mandatory[i]==true && !hivCTODArray[i]">Please Enter
                        {{ptPanelData.resultsTextData[2]}}</mat-error>

                    </mat-form-field>
                  </ion-col>

                </ion-row>
                <ion-row>
                  <ion-col class="grid-input-col">

                    <mat-form-field class="login-full-width grid-col-form"
                      [ngClass]="{ 'mat-form-field-invalid':ptPanelData.sampleTextData.mandatory[i]==true && !icQsValuesArray[i],'mat-form-field-valid': ptPanelData.sampleTextData.mandatory[i]==false}"
                      appearance="outline">
                      <mat-label>{{ptPanelData.resultsTextData[3]}}</mat-label>
                      <input matInput [(ngModel)]="icQsValuesArray[i]" [disabled]="isView=='true'"
                        placeholder="Enter IC/QS Values" name="icQsValues[{{i}}]" #icQsValues="ngModel"
                        [required]="ptPanelData.sampleTextData.mandatory[i]==true">
                      <mat-error *ngIf="ptPanelData.sampleTextData.mandatory[i]==true && !icQsValuesArray[i]">Please
                        Enter {{ptPanelData.resultsTextData[3]}}</mat-error>

                    </mat-form-field>
                  </ion-col>

                </ion-row>
              </mat-card-content>
            </mat-card>

          </div>
        </section>
        <section *ngIf="ptPanelNotTested">
          <ion-row>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>
                  {{ptPanelData.vlNotTestedReasonText}}
                </mat-label>
                <mat-select [(ngModel)]="ptPanelData.vlNotTestedReason" name="vlNotTested" #vlNotTested="ngModel"
                  [required]="ptPanelNotTested" [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of ptPanelData.vlNotTestedReasonDropdown" [value]="item.value">
                    {{item.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ptPanelNotTested && !vlNotTestedReason">Please choose the Reason for not testing
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>
                  {{ptPanelData.ptNotTestedCommentsText}}
                </mat-label>
                <textarea matInput placeholder="Enter Your Comments here" name="eidPtNotTestedComments"
                  #eidPtNotTestedComments="ngModel" [(ngModel)]="ptPanelData.ptNotTestedComments"
                  [disabled]="isView=='true'" [required]="ptPanelNotTested"></textarea>
                <mat-error *ngIf="ptPanelNotTested && !ptPanelData.ptNotTestedComments">Please Enter Your Comments
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>
                  {{ptPanelData.ptSupportCommentsText}}

                </mat-label>
                <textarea matInput placeholder="Enter Your Support Comments here" name="eidPtNotSupportComments"
                  #eidPtNotSupportComments="ngModel" [disabled]="isView=='true'"
                  [(ngModel)]="ptPanelData.ptSupportComments" [required]="ptPanelNotTested"></textarea>
                <mat-error *ngIf="ptPanelNotTested && !ptPanelData.ptSupportComments">Please Enter Your Comments
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </section>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type='submit' (click)="checkPtPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>

    <form #customFieldsForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showCustomFieldData" [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Custom Fields</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidCustField==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-grid>
          <ion-row *ngIf="customFieldData.customField1Text">
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{customFieldData.customField1Text}}</mat-label>
                <input matInput [(ngModel)]="customFieldData.customField1Val"
                  placeholder="Enter {{customFieldData.customField1Text}}" #custField1="ngModel" name="custField1"
                  [disabled]="isView=='true'">
                <mat-error *ngIf="!customFieldData.customField1Val">
                  {{customFieldData.customField1Text}} is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="customFieldData.customField2Text">
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{customFieldData.customField2Text}}</mat-label>
                <input matInput [(ngModel)]="customFieldData.customField2Val"
                  placeholder="Enter {{customFieldData.customField2Text}}" #custField2="ngModel" name="custField2"
                  [disabled]="isView=='true'">
                <mat-error *ngIf="!customFieldData.customField2Val">
                  {{customFieldData.customField2Text}} is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <!-- <ion-row *ngIf="customFieldData.customField3Text">
        <ion-col size="12"class="grid-input-col">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
            <mat-label>{{customFieldData.customField3Text}}</mat-label>
            <input matInput [(ngModel)]="customFieldData.customField3Val" 
            placeholder="Enter {{customFieldData.customField3Text}}" #custField3="ngModel"
             name="custField3"   [required]="customFieldData.customField3Text" [disabled]="isView=='true'">
            <mat-error *ngIf="!customFieldData.customField3Val">
              {{customFieldData.customField3Text}} is required
            </mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row> -->
        </ion-grid>
        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn" type='submit' (click)="checkCustFieldPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>
    <form #otherInfoPanelForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showOtherInfoData" [expanded]="step === 3+dynamicStep"
        (opened)="setStep(3+dynamicStep)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Other Informations</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="otherInfoValid==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ion-grid>
          <ion-row>
            <ion-col class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Supervisor Review </mat-label>
                <mat-select [(ngModel)]="otherInfoData.supervisorReview" name="eidFormSupReview"
                  #eidFormSupReview="ngModel" required [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let sr of otherInfoData.supervisorReviewDropdown" [value]="sr.value">
                    {{sr.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!otherInfoData.supervisorReview">Supervisor Review is
                  required</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col *ngIf="otherInfoData.supervisorReview=='yes'" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{otherInfoData.supervisorLabel}} </mat-label>
                <input matInput [(ngModel)]="otherInfoData.supervisorName" name="eidFormSupName"
                  #eidFormSupName="ngModel" placeholder="Enter Supervisor Name"
                  [required]="otherInfoData.supervisorReview=='yes'" [disabled]="isView=='true'">
                <mat-error *ngIf="otherInfoData.supervisorReview=='yes' && !otherInfoData.supervisorName">Supervisor
                  Name is
                  required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Comments</mat-label>
                <textarea matInput placeholder="Enter Comments here" name="eidComments" #eidComments="ngModel"
                  [(ngModel)]="otherInfoData.comments" [disabled]="isView=='true'"></textarea>
              </mat-form-field>
            </ion-col>
          </ion-row>

        </ion-grid>

        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn" *ngIf="isView=='false'" type='submit'
            (click)="submitEID(shipmentPanelForm,PTPanelTestForm,otherInfoPanelForm)">Submit</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>


  </mat-accordion>


</ion-content>