<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dried Tube Specimen - HIV Serology
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Participant Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Participant Name </span>
            </p>
          </ion-col>
          <ion-col size="1">
              <p text-wrap>
                  <span class="text-title-color">:</span>
              </p>
          </ion-col>
          <ion-col>
            <p text-wrap>
              <span>MUKAMAZIMPAKA Athanasie</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="5">
              <p text-wrap>
                <span class="text-title-color">Participant Code :</span>
              </p>
            </ion-col>
            <ion-col size="1">
                <p text-wrap>
                    <span class="text-title-color">:</span>
                </p>
            </ion-col>
            <ion-col>
              <p text-wrap>
                <span>1386</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="5">
                <p text-wrap>
                  <span class="text-title-color">Affiliation :</span>
                </p>
              </ion-col>
              <ion-col size="1">
                  <p text-wrap>
                      <span class="text-title-color">:</span>
                  </p>
              </ion-col>
              <ion-col>
                <p text-wrap>
                  <span> Athanasie</span>
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Phone No :</span>
                  </p>
                </ion-col>
                <ion-col size="1">
                    <p text-wrap>
                        <span class="text-title-color">:</span>
                    </p>
                </ion-col>
                <ion-col>
                  <p text-wrap>
                    <span>4444444444</span>
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="5">
                    <p text-wrap>
                      <span class="text-title-color">Mobile No :</span>
                    </p>
                  </ion-col>
                  <ion-col size="1">
                      <p text-wrap>
                          <span class="text-title-color">:</span>
                      </p>
                  </ion-col>
                  <ion-col>
                    <p text-wrap>
                      <span>445555555</span>
                    </p>
                  </ion-col>
                </ion-row>
      </ion-grid>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"  -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Shipment Details
        </mat-panel-title>

      </mat-expansion-panel-header>

      <ion-grid>
          <ion-row>
            <ion-col size="5">
              <p text-wrap>
                <span class="text-title-color">Shipment Date </span>
              </p>
            </ion-col>
            <ion-col size="1">
                <p text-wrap>
                    <span class="text-title-color">:</span>
                </p>
            </ion-col>
            <ion-col>
              <p text-wrap>
                <span>29-Feb-2020	</span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="5">
                <p text-wrap>
                  <span class="text-title-color">Result Due Date :</span>
                </p>
              </ion-col>
              <ion-col size="1">
                  <p text-wrap>
                      <span class="text-title-color">:</span>
                  </p>
              </ion-col>
              <ion-col>
                <p text-wrap>
                  <span>05-Mar-2020
                    </span>
                </p>
              </ion-col>
            </ion-row>
            
            
          </ion-grid>
          <ion-grid class="padding-top-20">
              <!-- <ion-row>
                  <ion-col size="6">
                    <p text-wrap>
                      <span>Test Receipt Date :</span>
                    </p>
                  </ion-col>             
                  <ion-col size="6">
                      <p text-wrap>
                        <span>Sample Rehydration Date :</span>
                      </p>
                    </ion-col>
                </ion-row>   -->
              <ion-row>
                  <ion-col size="12">                     
                      <mat-form-field  class="login-full-width grid-col-form" appearance="outline">
                          <mat-label>Test Receipt Date</mat-label>
                          <input matInput [matDatepicker]="testReceiptPicker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="testReceiptPicker"></mat-datepicker-toggle>
                          <mat-datepicker #testReceiptPicker></mat-datepicker>
                        </mat-form-field>
                  </ion-col>
                  <ion-col size="12">
                      <mat-form-field  class="login-full-width grid-col-form" appearance="outline">
                          <mat-label>Sample Rehydration Date</mat-label>
                          <input matInput [matDatepicker]="sampleRhdPicker" placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
                          <mat-datepicker #sampleRhdPicker></mat-datepicker>
                        </mat-form-field>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6">                     
                        <mat-form-field  class="login-full-width grid-col-form" appearance="outline">
                            <mat-label>Testing Date</mat-label>
                            <input matInput [matDatepicker]="testDatePicker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #testDatePicker></mat-datepicker>
                          </mat-form-field>
                    </ion-col>
                    <ion-col size="6">
                        <mat-form-field  class="login-full-width grid-col-form" appearance="outline">
                            <mat-label>Response Date</mat-label>
                            <input matInput [matDatepicker]="respDatePicker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="respDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #respDatePicker></mat-datepicker>
                          </mat-form-field>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col size="6">                     
                          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                              <mat-label>Algorithm Used </mat-label>
                              <mat-select [(ngModel)]="algorithmused" name="alg" required>
                                  <mat-option>--Select--</mat-option>
                                  <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                                    {{alg.name}}
                                  </mat-option>
                                </mat-select>
                              
                              <mat-error *ngIf="!algorithmused">Please choose the Algorithm Used </mat-error>
                            </mat-form-field>
                      </ion-col>
                      <!-- <ion-col size="6">
                          <mat-form-field  class="login-full-width grid-col-form" appearance="outline">
                              <mat-label>Sample Rehydration Date</mat-label>
                              <input matInput [matDatepicker]="sampleRhdPicker" placeholder="Choose a date">
                              <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
                              <mat-datepicker #sampleRhdPicker></mat-datepicker>
                            </mat-form-field>
                      </ion-col> -->
                    </ion-row>
          </ion-grid>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Test Kit Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>


      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>


  <!-- <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
      
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Destination
            </mat-panel-title>
            <mat-panel-description>
              Type the country name
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Day of the trip
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      
      </mat-accordion> -->

</ion-content>