/* CSS Changes in DTS - HIV Serology Page */

ion-grid ion-row ion-col{
        p{
        margin:5px;
    }
} 
ion-grid ion-row ion-col:nth-child(3n){
    text-align: right;
} 
.card-div{
    width: calc(100% - 20px) !important;
    margin: auto !important;
}
.card-div mat-card{
    padding:0;
}
.partiValues{
    font-size: 13px;
}