<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="eptHeaderTitle">
      DTS - HIV Serology
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Participant Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-grid>

          <ion-row *ngFor="let item of partiKeysValuesArray">
              <ion-col size="6">
                <p text-wrap>
                  <span class="text-title-color">{{item.keys}} </span>
                </p>
              </ion-col>
              <ion-col size="1">
                <p text-wrap>
                  <span class="text-title-color">:</span>
                </p>
              </ion-col>
              <ion-col>
                <p text-wrap class="partiValues">
                  <span>{{item.values}}</span>
                </p>
              </ion-col>
            </ion-row>


      </ion-grid>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"  -->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Shipment Details
        </mat-panel-title>

      </mat-expansion-panel-header>

      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Shipment Date </span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap>
              <span>29-Feb-2020 </span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Result Due Date :</span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap>
              <span>05-Mar-2020
              </span>
            </p>
          </ion-col>
        </ion-row>


      </ion-grid>
      <ion-grid class="padding-top-20">

        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Test Receipt Date</mat-label>
              <input matInput [matDatepicker]="testReceiptPicker" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="testReceiptPicker"></mat-datepicker-toggle>
              <mat-datepicker #testReceiptPicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Sample Rehydration Date</mat-label>
              <input matInput [matDatepicker]="sampleRhdPicker" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
              <mat-datepicker #sampleRhdPicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Testing Date</mat-label>
              <input matInput [matDatepicker]="testDatePicker" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #testDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col size="6">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Response Date</mat-label>
              <input matInput [matDatepicker]="respDatePicker" [(ngModel)]="respDate" placeholder="Choose a date"
                required disabled>
              <mat-datepicker-toggle matSuffix [for]="respDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #respDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Algorithm Used </mat-label>
              <mat-select [(ngModel)]="algorithmused" name="alg" required>
                <mat-option>--Select--</mat-option>
                <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                  {{alg.name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="!algorithmused">Please choose the Algorithm Used </mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Mode of Receipt</mat-label>
              <mat-select [(ngModel)]="receiptmode" name="rmode" required>
                <mat-option>--Select--</mat-option>
                <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                  {{alg.name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="!receiptmode">Please choose the Mode Of Receipt </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Test Kit Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Test-1">
          <ion-row>
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Kit Name </mat-label>
                <mat-select [(ngModel)]="kitname" name="kit">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                    {{alg.name}}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!kitname">Please choose the Kit</mat-error> -->
              </mat-form-field>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                  <mat-label>Lot Number </mat-label>
                  <input matInput [(ngModel)]="LotNo" placeholder="Enter Lot Number" >
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Exp Date</mat-label>
                <input matInput [matDatepicker]="expDate" placeholder="Choose a date" required disabled>
                <mat-datepicker-toggle matSuffix [for]="expDate"></mat-datepicker-toggle>
                <mat-datepicker #expDate disabled="false"></mat-datepicker>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </mat-tab>
        <mat-tab label="Test-2">
          <ion-row>
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Kit Name </mat-label>
                <mat-select [(ngModel)]="kitname" name="kit">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let alg of algUsed" [value]="alg.id" required>
                    {{alg.name}}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!kitname">Please choose the Kit</mat-error> -->
              </mat-form-field>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Lot Number </mat-label>
                <input matInput [(ngModel)]="LotNo" placeholder="Enter Lot Number" >
                
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Exp Date</mat-label>
                <input matInput [matDatepicker]="expDate1" placeholder="Choose a date" (click)="expDate1.open()"
                  required disabled>
                <mat-datepicker-toggle matSuffix [for]="expDate1"></mat-datepicker-toggle>
                <mat-datepicker #expDate1 disabled="false"></mat-datepicker>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </mat-tab>

      </mat-tab-group>


      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sample Details
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Result-1">

          <ion-row>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>S23334 </mat-label>
                <mat-select [(ngModel)]="result1sample1" name="result1sample1">
                  <mat-option>--Select--</mat-option>
                  <mat-option value="1">REACTIVE</mat-option>
                  <mat-option value="2">NONREACTIVE</mat-option>
                  <mat-option value="3">INVALID</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!kitname">Please choose the Kit</mat-error> -->
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>S34343 </mat-label>
                <mat-select [(ngModel)]="result1sample2" name="result1sample2">
                  <mat-option>--Select--</mat-option>
                  <mat-option value="1">REACTIVE</mat-option>
                  <mat-option value="2">NONREACTIVE</mat-option>
                  <mat-option value="3">INVALID</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!kitname">Please choose the Kit</mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
        </mat-tab>
        <mat-tab label="Result-2">

          <ion-row>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>S23334 </mat-label>
                <mat-select [(ngModel)]="result2sample1" name="result2sample1">
                  <mat-option>--Select--</mat-option>
                  <mat-option>--Select--</mat-option>
                  <mat-option value="1">REACTIVE</mat-option>
                  <mat-option value="2">NONREACTIVE</mat-option>
                  <mat-option value="3">INVALID</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!kitname">Please choose the Kit</mat-error> -->
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>S34343</mat-label>
                <mat-select [(ngModel)]="result2sample2" name="result2sample2">
                  <mat-option>--Select--</mat-option>
                  <mat-option>--Select--</mat-option>
                  <mat-option value="1">REACTIVE</mat-option>
                  <mat-option value="2">NONREACTIVE</mat-option>
                  <mat-option value="3">INVALID</mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="!kitname">Please choose the Kit</mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
        </mat-tab>
        <mat-tab label="Final Result">

          <ion-row>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>S23334 </mat-label>
                <mat-select [(ngModel)]="finalsample1" name="finalsample1" required>
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                    {{alg.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!finalsample1">Please choose the Final Result</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="6">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>S34343</mat-label>
                <mat-select [(ngModel)]="finalsample2" name="finalsample2" required>
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                    {{alg.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!finalsample2">Please choose the Final Result</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </mat-tab>

      </mat-tab-group>


      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn"  (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Other Informations
      </mat-panel-title>

    </mat-expansion-panel-header>
   
    <ion-grid>   
      <ion-row>
          <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Supervisor Review </mat-label>
                <mat-select [(ngModel)]="supReview" name="supReview">
                  <mat-option>--Select--</mat-option>
                  <mat-option value="yes">YES</mat-option>
                  <mat-option value="no">NO</mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
        <ion-col size="12">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
            <mat-label>Comments</mat-label>
            <textarea matInput placeholder="Enter Comments here"  [(ngModel)]="comments"></textarea>
          </mat-form-field>
        </ion-col>
       
      </ion-row>
    </ion-grid>

    <mat-action-row>
      <button mat-button color="primary" (click)="prevStep()">Previous</button>
      <button mat-button color="warn">Submit</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
  

<!-- <div class="card-div">

  <mat-card>
    <mat-card-title> </mat-card-title>
    <mat-card-content>
      <ion-row>
        <ion-col size="12">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
            <mat-label>S23334 </mat-label>
            <mat-select [(ngModel)]="finalsample1" name="finalsample1" required>
              <mat-option>--Select--</mat-option>
              <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                {{alg.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!finalsample1">Please choose the Final Result</mat-error>
          </mat-form-field>
        </ion-col>
        <ion-col size="12">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
            <mat-label>Comments</mat-label>
            <textarea matInput placeholder="Enter Comments here"></textarea>
          </mat-form-field>
        </ion-col>
      </ion-row>

    </mat-card-content>
  </mat-card>
</div> -->
</ion-content>