<app-header [titleHeader]="'DTS - HIV Serology'" [isMenuOrBackButton]="'back'"></app-header>

<ion-content>
  <ion-row>
    <p *ngIf="viewAccessMessage" class="accessMsg">{{viewAccessMessage}}</p>
  </ion-row>
  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header  >
        <mat-panel-title>
          <ion-grid class="panelHeading">
            <ion-row>
              <ion-col size="12" class="grid-readonly-col">
                <span class="text-title-color">Participant Details</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-grid>

        <ion-row *ngIf="partiDetailsArray.participantName">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Participant Name</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.participantName}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.participantCode">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Participant Code </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.participantCode}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.affiliation">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Affiliation </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.affiliation}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.phone">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Tel Phone No</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.phone}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.mobile">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Mobile No</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.mobile}}</span>
            </p>
          </ion-col>
        </ion-row>

      </ion-grid>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>


    <form #shipmentPanelForm="ngForm" novalidate>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header >
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Shipment Details</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidShipmentDetails==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ion-grid>
          <ion-row *ngIf="shipmentData.shipmentDate">
            <ion-col size="5">
              <p class="ion-text-wrap">
                <span class="text-title-color">Shipment Date </span>
              </p>
            </ion-col>
            <ion-col size="1">
              <p class="ion-text-wrap">
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col>
              <p class="ion-text-wrap">
                <span>{{shipmentData.shipmentDate}} </span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="shipmentData.resultDueDate">
            <ion-col size="5">
              <p class="ion-text-wrap">
                <span class="text-title-color">Result Due Date </span>
              </p>
            </ion-col>
            <ion-col size="1">
              <p class="ion-text-wrap">
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col>
              <p class="ion-text-wrap">
                <span>{{shipmentData.resultDueDate}}
                </span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>

          <ion-row>
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Test Receipt Date  <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="testReceiptPicker" [(ngModel)]="shipmentData.testReceiptDate"
                placeholder="Choose Test Receipt Date" required  name="seroTestReceiptDate"
                  #seroTestReceiptDate="ngModel" [readonly]="isView!='true'" [disabled]="isView=='true'"  [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}">
                <mat-datepicker-toggle matSuffix [for]="testReceiptPicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'"  class="clearDateIcon" ios="ios-close" (click)="clearTestReceiptDate()"></ion-icon>
                <mat-datepicker #testReceiptPicker  [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.testReceiptDate || shipmentData.testReceiptDate==''">
                  Test Receipt Date is required</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Sample Rehydration Date  <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="sampleRhdPicker" name="seroSampleRhdDate" #seroSampleRhdDate="ngModel"  [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}"
                  [(ngModel)]="shipmentData.sampleRehydrationDate" placeholder="Choose Sample Rehydration Date" 
                  required [readonly]="isView!='true'" [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearSampleRehydDate()"></ion-icon>
                <mat-datepicker #sampleRhdPicker  [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.sampleRehydrationDate || shipmentData.sampleRehydrationDate==''">
                  Sample Rehydration Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Testing Date <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="testDatePicker" [(ngModel)]="shipmentData.shipmentTestingDate" name="seroTestingDate"   [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}"
                  #seroTestingDate="ngModel" placeholder="Choose Testing Date"  required [readonly]="isView!='true'" [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearTestingDate()"></ion-icon>
                <mat-datepicker #testDatePicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.shipmentTestingDate || shipmentData.shipmentTestingDate==''">
                  Testing Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" *ngIf="isPartiEditRespDate"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Response Date <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="respDatePicker" [(ngModel)]="shipmentData.responseDate" name="seroRespDate" [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" 
                placeholder="Choose Response Date"  #seroRespDate="ngModel" [required]="isPartiEditRespDate" [readonly]="isView!='true'" [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="respDatePicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearResponseDate()"></ion-icon>
                <mat-datepicker #respDatePicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="(!shipmentData.responseDate || shipmentData.responseDate=='') && isPartiEditRespDate"> Response Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Algorithm Used <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <mat-select [(ngModel)]="shipmentData.algorithmUsed" name="alg" #alg="ngModel" required
                  [disabled]="isView=='true'" (ngModelChange)="onSelectedAlgorithm($event)">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let alg of shipmentData.algorithmUsedDropdown" [value]="alg.value">
                    {{alg.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!algorithmused">Please choose the Algorithm Used </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12" class="grid-input-col" *ngIf="isPartiEditModeRec">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Mode of Receipt <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <mat-select [(ngModel)]="shipmentData.modeOfReceipt" name="rmode" #rmode="ngModel" 
                [required]="isPartiEditModeRec" [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let modeRec of shipmentData.modeOfReceiptDropdown" [value]="modeRec.value">
                    {{modeRec.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!shipmentData.modeOfReceipt && isPartiEditModeRec">Please choose the Mode Of Receipt </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <!-- <ion-row *ngIf="isQCDoneShow">
          <ion-col size="12">
              <mat-label>QC Done</mat-label> 
             <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="login-full-width grid-col-form"
              [(ngModel)]="qcDone">
              <mat-radio-button class="example-radio-button" *ngFor="let qcData of qcRadioArray" [value]="qcData.value">
                {{qcData.show}}
              </mat-radio-button>
            </mat-radio-group> 
          </ion-col>
        </ion-row> -->
          <ion-row *ngIf="isQCDoneShow && participantQcAccess">
            <ion-col size="12">
              <mat-label class="matLabel" style="margin-left: 5px;font-size: 13px;">QC Done <span class="danger-text">*</span></mat-label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="login-full-width grid-col-form"
                [(ngModel)]="qcDone" name="vlQcDone" #vlQcDone="ngModel" [required]="isQCDoneShow"  [disabled]="isView=='true'">
                <mat-radio-button class="example-radio-button" *ngFor="let qcData of qcRadioArray"
                  [value]="qcData.value">
                  {{qcData.show}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="!qcDone">QC Done is required</mat-error>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isQCDoneShow && qcDone=='yes' && participantQcAccess">
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>QC Date <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="qcDatePicker" [(ngModel)]="qcDate" name="seroqcDate" #seroqcDate="ngModel" placeholder="Choose QC Date" [required]="isQCDoneShow && qcDone=='yes'" [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" 
                [readonly]="isView!='true'" [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="qcDatePicker"></mat-datepicker-toggle>
                 <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearQCDate()"></ion-icon>
                <mat-datepicker #qcDatePicker  [disabled]="isView=='true'"></mat-datepicker>
                   <mat-error *ngIf="!qcDate || qcDate==''">QC Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isQCDoneShow && qcDone=='yes' && participantQcAccess">
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>QC Done By <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [(ngModel)]="qcDoneBy" name="seroqcDoneBy" #seroqcDoneBy="ngModel" placeholder="QC Done By" [required]="isQCDoneShow && qcDone=='yes'"  [disabled]="isView=='true'">
                <mat-error *ngIf="!qcDoneBy">QC Done By is required</mat-error>
              </mat-form-field>  
            </ion-col>
          </ion-row>

        </ion-grid>

        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn" type="submit" (click)="checkShipmentPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>

    <mat-card class="main-card-panel" *ngIf="showTestkitPanel">
      <mat-card-title> Test Kit Details</mat-card-title>
      <mat-card-content>
    <form #testKitPanelForm="ngForm" novalidate> 
      <div *ngFor="let kitTextItem of testKitTextArray;let i = index;">
        <mat-expansion-panel [expanded]="step === i+2" (opened)="setStep(i+2)" *ngIf="(shipmentData.algorithmUsed !='myanmarNationalDtsAlgo' && testKitNameArray[kitTextItem].status==true) ||
        (shipmentData.algorithmUsed =='myanmarNationalDtsAlgo' && kitTextItem =='Test-3')|| (shipmentData.algorithmUsed =='myanmarNationalDtsAlgo' && kitTextItem !='Test-3'&& testKitNameArray[kitTextItem].status==true)">

         <!-- <mat-expansion-panel [expanded]="step === i+2" (opened)="setStep(i+2)" *ngIf="(shipmentData.algorithmUsed !='myanmarNationalDtsAlgo' && testKitNameArray[kitTextItem].status==true) ||
         (shipmentData.algorithmUsed =='myanmarNationalDtsAlgo' && kitTextItem =='Test-3' || kitTextItem =='Test-1' && testKitNameArray[kitTextItem].status==true || kitTextItem =='Test-2' && testKitNameArray[kitTextItem].status==true)"> -->


          <!-- <mat-expansion-panel [expanded]="step === i+2" (opened)="setStep(i+2)" *ngIf="testKitNameArray[kitTextItem].status==true"> -->
             <mat-expansion-panel-header>
            <mat-panel-title>
              <ion-grid class="panelHeading">
                <ion-row>
                  <ion-col size="10" class="grid-readonly-col">
                    <span class="text-title-color">{{kitTextItem}} </span>
                  </ion-col>
                  <ion-col size="2" class="grid-readonly-col" *ngIf="isValidTestKitDetails[i]">
                    <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-row class="testKitRow">
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Kit Name </mat-label>
                <mat-select [(ngModel)]="testKitModel.kitValue[i]" name="dtskitName{{i}}" #dtskitName="ngModel"                 
                (ngModelChange)="getSelectedTestKitName($event,i,testKitNameArray[kitTextItem].data)"  [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let kitNameItem of testKitNameArray[kitTextItem].data" 
                    [value]="kitNameItem.value" >
                    {{kitNameItem.show}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="testKitModel.kitValue[i]=='other'">
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Enter Kit Name </mat-label>
                <input matInput [(ngModel)]="testKitModel.kitOther[i]" name="dtskitOther{{i}}" #dtskitOther="ngModel" 
                placeholder="Enter Kit Name"  [disabled]="isView=='true'">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Lot Number</mat-label>
                <input matInput [(ngModel)]="testKitModel.lot[i]" placeholder="Enter Lot Number" 
                name="dtslot{{i}}" #dtslot="ngModel"  [disabled]="isView=='true'">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
  
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Exp Date</mat-label>
                <input matInput [matDatepicker]="expDatePicker" [(ngModel)]="expDateObj[i]" placeholder="Choose Exp Date" [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" 
                name="dtsexpDate{{i}}" #dtsexpDate="ngModel" [readonly]="isView!='true'" [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="expDatePicker"></mat-datepicker-toggle>
                <ion-icon name="close" ios="ios-close" *ngIf="isView=='false'" class="clearDateIcon" (click)="clearExpDate(i)"></ion-icon>
                <mat-datepicker #expDatePicker [disabled]="isView=='true'"></mat-datepicker>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <mat-action-row>
            <button mat-button color="primary" (click)="prevStep()">Previous</button>
            <button mat-button color="warn" (click)="checkTestKitPanel('next',i)">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
       </form>
       </mat-card-content>
</mat-card>
<form #sampleDetailsForm="ngForm" novalidate> 

    <mat-card class="main-card-panel" *ngIf="showSampleData">
      <mat-card-title> Sample Details</mat-card-title>
      <mat-card-content>
      <div *ngFor="let sampleName of samplesNameArr;let i = index;">
        <mat-expansion-panel *ngIf="showSampleData" [expanded]="step === i+testKitIndex+2" (opened)="setStep(i+testKitIndex+2)">        
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ion-grid class="panelHeading">
                <ion-row>
                  <ion-col size="10" class="grid-readonly-col">
                    <span class="text-title-color">{{sampleName}} <span class="danger-text" *ngIf="samplesArray.mandatory[i]==true">*</span></span>
                  </ion-col>
                  <ion-col size="2" class="grid-readonly-col" *ngIf="isValidSampleDetails[i]">
                    <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-row *ngIf="sampleDetailsArray.resultStatus[0]==true">
           <!-- [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true && 
            !result1Arr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->

            <ion-col  size="12" class="grid-readonly-col">

              <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                <mat-label>{{sampleDetailsArray.resultsText[0]}}</mat-label>
                <mat-select [(ngModel)]="result1Arr[i]"
                name="result1_[{{i}}]" #result1="ngModel" [disabled]="isView=='true'">               
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Result-1'].data" [value]="item.value">
                    {{item.show}}
                  </mat-option>
                </mat-select>                      
               <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !result1Arr[i]">Please Enter {{sampleDetailsArray.resultsText[0]}}</mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
      
          <ion-row *ngIf="sampleDetailsArray.resultStatus[1]">
                <!-- [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true &&
          !result2Arr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
            <ion-col  size="12" class="grid-readonly-col">
              <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                <mat-label>{{sampleDetailsArray.resultsText[1]}}</mat-label>
                <mat-select [(ngModel)]="result2Arr[i]"
                name="result2_[{{i}}]" #result2="ngModel" [disabled]="isView=='true'">               
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Result-2'].data" [value]="item.value">
                    {{item.show}}
                  </mat-option>
                </mat-select>                      
               <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !result2Arr[i]">Please Enter{{sampleDetailsArray.resultsText[1]}}</mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
      
          
            <!-- <ion-row *ngIf="sampleDetailsArray.resultStatus[2]"> -->

              <ion-row *ngIf="(sampleDetailsArray.resultStatus[2] && shipmentData.algorithmUsed !='myanmarNationalDtsAlgo') || (shipmentData.algorithmUsed =='myanmarNationalDtsAlgo')">
                    <!--  [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true &&
                 !result3Arr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
             <ion-col  size="12" class="grid-readonly-col">
                <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                  <mat-label>{{sampleDetailsArray.resultsText[2]}}</mat-label>
                  <mat-select [(ngModel)]="result3Arr[i]"
                  name="result3_[{{i}}]" #result3="ngModel" [disabled]="isView=='true'">               
                    <mat-option>--Select--</mat-option>
                    <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Result-3'].data" [value]="item.value">
                      {{item.show}}
                    </mat-option>
                  </mat-select>                    
                 <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !result3Arr[i]">Please Enter {{sampleDetailsArray.resultsText[2]}}</mat-error> -->
                </mat-form-field>
              </ion-col>
            </ion-row>
      
            <ion-row *ngIf="sampleDetailsArray.resultStatus[3]">
              <!--    [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true &&
                 !finalResultArr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
              <ion-col  size="12" class="grid-readonly-col">
                <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                  <mat-label>{{sampleDetailsArray.resultsText[3]}}</mat-label>
                  <mat-select [(ngModel)]="finalResultArr[i]"
                  name="finalResult_[{{i}}]" #finalResult="ngModel" [disabled]="isView=='true'"  >                         
                    <mat-option>--Select--</mat-option>
                   <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Final-Result'].data" [value]="item.value">
                      {{item.show}}
                    </mat-option>
                  </mat-select> 
                  <!-- [required]="samplesArray.mandatory[i]==true"         -->
                 <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !finalResultArr[i]">Please Enter {{sampleDetailsArray.resultsText[3]}}</mat-error> -->
                </mat-form-field>
              </ion-col>
            </ion-row>
          

          <mat-action-row>
            <button mat-button color="primary" (click)="prevStep()">Previous</button>
            <button mat-button color="warn" (click)="checkSampleDetailPanel('next',i)">Next</button>
          </mat-action-row>
        </mat-expansion-panel>


     </div> 
  

  </mat-card-content>
</mat-card>


</form>
    <!-- sample details end -->

    <!-- Custom Field panel starts-->

    <form #customFieldsForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showCustomFieldData" [expanded]="step === testKitIndex+sampleIndex+2"
       (opened)="setStep(testKitIndex+sampleIndex+2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Custom Fields</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidCustField==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-grid>
          <ion-row *ngIf="customFieldData.customField1Text">
            <ion-col size="12"class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{customFieldData.customField1Text}}</mat-label>
                <input matInput [(ngModel)]="customFieldData.customField1Val" 
                placeholder="Enter {{customFieldData.customField1Text}}" #custField1="ngModel"
                 name="custField1" [disabled]="isView=='true'">
                <mat-error *ngIf="!customFieldData.customField1Val">
                  {{customFieldData.customField1Text}} is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="customFieldData.customField2Text">
            <ion-col size="12"class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{customFieldData.customField2Text}}</mat-label>
                <input matInput [(ngModel)]="customFieldData.customField2Val" 
                placeholder="Enter {{customFieldData.customField2Text}}" #custField2="ngModel"
                 name="custField2" [disabled]="isView=='true'">
                <mat-error *ngIf="!customFieldData.customField2Val">
                  {{customFieldData.customField2Text}} is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
     
        </ion-grid>
        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn"
          type='submit' (click)="checkCustFieldPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      </form>

      <!-- Custom Panel Ends-->
    <form #otherInfoPanelForm="ngForm" novalidate>
    <mat-expansion-panel [expanded]="step === testKitIndex+sampleIndex+dynamicStep+2"
      (opened)="setStep(testKitIndex+sampleIndex+dynamicStep+2)">
      <mat-expansion-panel-header >
        <mat-panel-title>
          <ion-grid class="panelHeading">
            <ion-row>
              <ion-col size="10" class="grid-readonly-col">
                <span class="text-title-color">Other Informations</span>
              </ion-col>
              <ion-col size="2" class="grid-readonly-col" *ngIf="isValidOtherInfoPanel==true">
                <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Supervisor Review <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
              <mat-select [(ngModel)]="supReview" name="serosupReview" #serosupReview="ngModel" required  [disabled]="isView=='true'">
                <mat-option>--Select--</mat-option>
                <mat-option *ngFor="let item of supervisorReviewArray" [value]="item.value">
                  {{item.show}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!supReview">Supervisor Review is required</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="12" *ngIf="supReview=='yes'">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>{{approvalLabel}} <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
              <input matInput [(ngModel)]="supervisorName" name="serosupervisorName" #serosupervisorName="ngModel"
               placeholder="Enter Supervisor Name" [required]="supReview=='yes'"  [disabled]="isView=='true'">
              <mat-error *ngIf="!supervisorName">Supervisor Name is required</mat-error>
            </mat-form-field>     
          </ion-col>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Comments</mat-label>
              <textarea matInput placeholder="Enter Comments here" [(ngModel)]="comments" name="serocomments" #serocomments="ngModel"  [disabled]="isView=='true'"></textarea>
            </mat-form-field>
          </ion-col>
        </ion-row>


      </ion-grid>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn" *ngIf="isView=='false'" (click)="submitSerologyForm(shipmentPanelForm,sampleDetailsForm,otherInfoPanelForm)">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
    </form>
  </mat-accordion>


</ion-content>