.cardContent{
    padding-bottom: 5px;
    padding-top: 5px;
}
.eptCardRow{
    padding: 5px;
}
.text-normal{
    color:black;
}
ion-grid ion-row ion-col{
    padding:0 ;
        p{
            margin:3px;
            font-size: 13px !important;
        }
    } 
    ion-grid ion-row ion-col:nth-child(3n){
        text-align: right;
    } 

    .shipmentValues{
        color: black;
        font-size: 13.75px
    }
.shipmentGrid{
    padding:0px!important;
}
.text-center.native-btn{
font-size: 11.8px!important;
}
.text-center.native-btn.syncAll{
height: 45px!important;
}
.text-title-color.unSynced{
    color: red!important;
}
ion-button.text-center.native-btn{
    --background:#3c8dbc !important;
    background:#3c8dbc !important;
    border-radius: 6px;
}
.skeltonRow{
    padding: 6px;
}
ion-footer{
    ion-toolbar {
        height: 54px;
        --min-height:25px !important;
        --background:#fff !important;
        ion-title{
            color: #616161 !important;
            padding: 10px;
            text-align: center;
            font-size: 13px;
            font-weight: 100;
        }
    }
}
.noShipments{
    text-align: center;
    font-weight: 400;
    color: black;
}
.eptCard.noShipments{
     padding:15px;
}
.fliterCardContent{
    padding: 5px;
}
.fliterRow{
    margin-top: 5px;
}
.fliterCard{
    margin: 17px;
}

.funnelIcon{
    font-size: 25px;
    color: white;
    margin-right: 15px;
}
.eptHeaderToolbar{
    --background: #3c8dbc;
}
.eptHeaderTitle{
    color: white;
}
ion-menu-button{
    --color:white !important;
     color:white !important;
}
.text-center.native-btn.viewResponse{
    float: left;
}
.text-center.native-btn.enterEdit.download{
    font-size: 10px!important;
}
.text-center.native-btn.enterEdit{
    float: right;
}

