<ion-header>
  <ion-toolbar class="eptHeaderToolbar">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title class="eptHeaderTitle">
            All Shipments
          </ion-title>
          <ion-buttons slot="end" (click)="presentPopover($event)" *ngIf="shippingsOriginalArray.length!=0 || NoFilteredData">
          <span class="eptHeaderTitle">Filter</span>&nbsp;
          <ion-icon name="funnel" ios="ios-funnel" class="funnelIcon"></ion-icon>
          </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-searchbar *ngIf="shippingsArray.length!=0" class="searchBar" [(ngModel)]="search" mode="ios" showCancelButton="never"
#searchShipment="ngModel" name="searchShipment"></ion-searchbar>

  <mat-chip-list aria-label="Fish selection" class="filterChipList" *ngIf="filterJSON">
    <mat-chip *ngIf="filterJSON.shipmentFilterName">{{filterJSON.shipmentFilterName}}</mat-chip>
    <mat-chip *ngIf="filterJSON.participantFliterName">{{filterJSON.participantFliterName}}</mat-chip>
    <mat-chip *ngIf="filterJSON.schemeTypeFliterName">{{filterJSON.schemeTypeFliterName}}</mat-chip>
  </mat-chip-list>


  <ion-card *ngFor="let item of shippingsArray | filter:search" class="eptCard">
    <ion-card-header class="CardHeader">
      <p text-wrap class="schemeName"> {{item.schemeName}}</p>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <ion-grid class="shipmentGrid">
        <ion-row *ngIf="item.shipmentDate">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Shipment Date</span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.shipmentDate | date :'d MMM y'}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="item.shipmentCode">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Shipment Code </span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.shipmentCode}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="item.participantId">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Participant ID </span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.uniqueIdentifier}}</span>
            </p>
          </ion-col>
        </ion-row>



        <ion-row *ngIf="item.participantName">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Participant Name </span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.participantName}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="item.resultDueDate">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Result Due Date </span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.resultDueDate  | date :'d MMM y'}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.responseDate">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Response Date </span>
            </p>
          </ion-col>
          <ion-col size="1">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.responseDate  | date :'d MMM y'}}</span>
            </p>
          </ion-col>
        </ion-row>
       
        <ion-row *ngIf="item.isSynced=='false'">
          <ion-col size="12">
            <p text-wrap>
              <span class="text-title-color unSynced"> Unsynced shipment </span>
            </p>
          </ion-col>
        </ion-row>

        <ion-row>

          <ion-col size="6">
            <ion-button size="small" *ngIf="item.updatedOn!=''|| item.isSynced=='false'"
              class="text-center native-btn viewResponse" (click)="goToTestForm(item,'true')">View Response
            </ion-button>
          </ion-col>

          <ion-col size="6">

            <ion-button *ngIf="isViewOnlyAccess==false && item.status!='finalized' && item.updatedOn=='' && responseSwitch==on && item.is_excluded!='yes' && item.isSynced=='' " size="small" class="text-center native-btn enterEdit"
              (click)="goToTestForm(item)">Enter Response
            </ion-button>

            <ion-button *ngIf="isViewOnlyAccess==false && item.status!='finalized' && item.updatedOn!='' && responseSwitch==on && item.is_excluded!='yes' || item.isSynced=='false' " size="small" class="text-center native-btn enterEdit"
              (click)="goToTestForm(item)">Edit Response</ion-button>

            <ion-button *ngIf="item.status=='finalized' && item.invididualReport!=''" size="small" class="text-center native-btn enterEdit download"
              (click)="downloadReport(item.invididualReport,item.invididualFileName)">Download Report</ion-button>
          
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

  <!-- ion-skeleton-text code start -->
  <ion-card *ngFor="let item of skeltonArray" class="eptCard">
    <ion-card-header class="CardHeader">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-card-header>

    <ion-card-content class="cardContent">
      <ion-grid class="shipmentGrid">
        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="skeltonRow">
          <ion-col size="12">
            <p text-wrap>
              <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- ion-skeleton-text code end -->

  <ion-card class="eptCard noShipments" *ngIf="showNoData && shippingsArray.length==0 && filterJSON==''">
    <ion-card-content class="cardContent">
      <p class="noShipments">
        No active shipments found. <br>
        If you would like to see previous shipments, please click on the filter button above and choose an appropriate option.<br>
        Please contact your PT provider if you need support.
      </p>
      </ion-card-content>
  </ion-card>


  <ion-card class="eptCard noShipments" *ngIf="showNoData && shippingsArray.length==0 && filterJSON.shipmentFilterID=='activeNotResp'">
    <ion-card-content class="cardContent">
    <p class="noShipments">
      No active shipments found. <br>
      If you would like to see previous shipments, please click on the filter button above and choose an appropriate option.<br>
      Please contact your PT provider if you need support.
    </p>
      </ion-card-content>
  </ion-card>


  <ion-card class="eptCard noShipments" *ngIf="showNoData && shippingsArray.length==0 && filterJSON.shipmentFilterID=='activeResp'">
    <ion-card-content class="cardContent">
    <p class="noShipments">
      No active shipments that are already responded found. <br>
      If you would like to see other shipments, please click on the filter button above and choose an appropriate option.<br>
      Please contact your PT provider if you need support.
    </p>
      </ion-card-content>
  </ion-card>

  <ion-card class="eptCard noShipments" *ngIf="showNoData && shippingsArray.length==0 && filterJSON.shipmentFilterID=='closed'">
    <ion-card-content class="cardContent">
    <p class="noShipments">
      No finalized/closed shipments found. <br>
      If you would like to see other shipments, please click on the filter button above and choose an appropriate option.<br>
      Please contact your PT provider if you need support.
    </p>
      </ion-card-content>
  </ion-card>


  <ion-card class="eptCard noShipments" *ngIf="showNoData && shippingsArray.length==0 && filterJSON.shipmentFilterID=='excluded'">
    <ion-card-content class="cardContent">
    <p class="noShipments">
      No delayed/excluded shipments found. <br>
      If you would like to see other shipments, please click on the filter button above and choose an appropriate option.<br>
      Please contact your PT provider if you need support.
    </p>
      </ion-card-content>
  </ion-card>


</ion-content>


  <ion-footer *ngIf="localStorageUnSyncedArray.length!=0 && networkType!='none'">
    <ion-toolbar>
      <ion-button expand="full" class="text-center native-btn syncAll" (click)="syncShipments()">
        View Unsynced Shipments ({{localStorageUnSyncedArray.length}})
      </ion-button>
    </ion-toolbar>
  </ion-footer>
