.CardHeader{
    padding: 3px;
   // background-color:#b4c0ff;
    background-color: #53c2f5ba;
    padding-left: 3%;
}
.schemeName{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 15px;
    color: #000;
    margin: 5px;
}
.cardContent{
    padding-bottom: 5px;
    padding-top: 5px;
}
.eptCardRow{
    padding: 5px;
}
.text-normal{
    color:black;
}
ion-grid ion-row ion-col{
    padding:0 ;
        p{
            margin:3px;
            font-size: 13px !important;
        }
    } 
    ion-grid ion-row ion-col:nth-child(3n){
        text-align: right;
    } 

    .shipmentValues{
        color: black;
        font-size: 13.75px
    }
.ion-no-border.syncButton{
height: 45px;
}
.shipmentGrid{
    padding:0px!important;
}
.text-center.native-btn{
font-size: 11.8px!important;
}
.text-center.native-btn.syncAll{
height: 50px!important;
}
.text-title-color.unSynced{
    color: red!important;
}
ion-button.text-center.native-btn{
    --background:#3c8dbc !important;
    background:#3c8dbc !important;
    border-radius: 6px;
}
.skeltonRow{
    padding: 6px;
}
ion-footer{
    ion-toolbar {
        height: 35px;
        --min-height:25px !important;
        --background:#fff !important;
        ion-title{
            color: #616161 !important;
            padding: 10px;
            text-align: center;
            font-size: 13px;
            font-weight: 100;
        }
    }
}