<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="eptHeaderTitle">
       All Shipments
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card *ngFor="let item of shippingsArray" class="eptCard">
    <ion-card-header class="CardHeader">
      <p text-wrap class="schemeName"> {{item.schemeName}}</p>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <ion-grid>
        <ion-row *ngIf="item.shipmentDate">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Shipment Date </span>
            </p>
          </ion-col>
          <ion-col size="1">
              <p text-wrap>
                  <span class="text-title-color">:</span>
              </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.shipmentDate | date :'d MMM y'}}</span>
            </p>
          </ion-col>
        </ion-row>


       <ion-row *ngIf="item.shipmentCode">
          <ion-col size="5">
            <p text-wrap>
              <span class="text-title-color">Shipment Code </span>
            </p>
          </ion-col>
          <ion-col size="1">
              <p text-wrap>
                  <span class="text-title-color">:</span>
              </p>
          </ion-col>
          <ion-col>
            <p text-wrap class="shipmentValues">
              <span>{{item.shipmentCode}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="item.participantId">
            <ion-col size="5">
              <p text-wrap>
                <span class="text-title-color">Participant ID </span>
              </p>
            </ion-col>
            <ion-col size="1">
                <p text-wrap>
                    <span class="text-title-color">:</span>
                </p>
            </ion-col>
            <ion-col>
              <p text-wrap class="shipmentValues">
                <span>{{item.participantId}}</span>
              </p>
            </ion-col>
          </ion-row>



          <ion-row *ngIf="item.participantName">
              <ion-col size="5">
                <p text-wrap>
                  <span class="text-title-color">Participant Name </span>
                </p>
              </ion-col>
              <ion-col size="1">
                  <p text-wrap>
                      <span class="text-title-color">:</span>
                  </p>
              </ion-col>
              <ion-col>
                <p text-wrap class="shipmentValues">
                  <span>{{item.participantName}}</span>
                </p>
              </ion-col>
            </ion-row>


            <ion-row *ngIf="item.resultDueDate">
                <ion-col size="5">
                  <p text-wrap>
                    <span class="text-title-color">Result Due Date </span>
                  </p>
                </ion-col>
                <ion-col size="1">
                    <p text-wrap>
                        <span class="text-title-color">:</span>
                    </p>
                </ion-col>
                <ion-col>
                  <p text-wrap class="shipmentValues">
                    <span>{{item.resultDueDate  | date :'d MMM y'}}</span>
                  </p>
                </ion-col>
              </ion-row>

              <ion-row *ngIf="item.responseDate">
                  <ion-col size="5">
                    <p text-wrap>
                      <span class="text-title-color">Response Date </span>
                    </p>
                  </ion-col>
                  <ion-col size="1">
                      <p text-wrap>
                          <span class="text-title-color">:</span>
                      </p>
                  </ion-col>
                  <ion-col>
                    <p text-wrap class="shipmentValues">
                      <span>{{item.responseDate  | date :'d MMM y'}}</span>
                    </p>
                  </ion-col>
                </ion-row>
      </ion-grid>
      <ion-button class="text-center native-btn" (click)="goToTestForm(item)">Enter Response</ion-button>
<!-- 
      <ion-button color="tertiary" expand="block">Edit Response</ion-button>

      <ion-button color="tertiary" expand="block">View Response</ion-button> -->
    </ion-card-content>
  </ion-card>

</ion-content>
