.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.login-form {
  // min-width: 150px;
  // max-width: 500px;
  width: calc(100% - 50px);
  margin-left: 25px;

}
.row-top{
  margin-top: 50px;
}
.row-top img {
  display: block;
margin: auto;
 
}
.login-full-width {
  width: 100%; 
}
.login-btn-grid button{ 
  width: 100%;
}
.login-btn-grid a {
  color:#F44336;
  padding:0 5px 0 5px;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgb(54, 154, 234) !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(255,255,255,.7) !important;
}
.mat-form-field-appearance-legacy .mat-hint {
  color: rgba(255,255,255,.7);
}
.mat-grid-tile{
 // padding-top: calc(((20% - 0.5px) * 1) + 0px) !important ;
  padding-top: 40px !important ;
}
.mat-grid-list{
//  padding-bottom: calc(((20% - 0.5px) * 1) + 0px) !important;
  padding-bottom: 40px !important;
}