<ion-content>
  <ion-grid class="ion-padding" class="appPasswordGrid">
    <ion-row class="row-top">
      <ion-col>
        <img src="assets/img/ept-logo.png">
      </ion-col>
    </ion-row>
    <p class="partiName">Welcome {{participantName}},</p>
    <p class="setPin">Set up your new login PIN</p>
  </ion-grid>

  <form autocomplete="off">

    <mat-card class="form-card">
    
      <mat-card-content>
        <ion-grid>
          <ion-row class="padding-10 ">
            <p class="pin-para">Create a Pin</p>
            <ion-col>
              <ng-otp-input class="ng-otp-input" #ngCreatePinInput (onInputChange)="onCreatePinNumberChange($event)"
                oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''"   [config]="config"></ng-otp-input>
            </ion-col>
          </ion-row>
          <ion-row class="padding-10">
            <p class="pin-para">Confirm Pin</p>
            <ion-col>
              <ng-otp-input class="ng-otp-input" #ngConfirmPinInput (onInputChange)="onConfirmPinNumberChange($event)"
                [config]="pswdconfig"></ng-otp-input>
            </ion-col>
          </ion-row>
          <ion-row class="padding-10" *ngIf="isBiometricSupported" style="text-align: center;">
            <ion-col size="12"><p>(or)</p></ion-col>
            <ion-col size="12">
              <ion-button style="text-transform: capitalize;" shape="round" expand="block" fill="outline" (click)="showFingerprintAuthDlg()">Use FingerPrint</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-card-content>
    </mat-card>
  </form>
</ion-content>