.appPasswordGrid {
  padding: 0px;
}

.row-top {
  margin-top: 50px;
}

.row-top img {
  display: block;
  margin: auto;

}

.appPasswordCard {
  margin: 25px;
}

.partiName {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.setPin {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

p.pin-para {
  width: 100%;
  font-size: 11.5px;
  margin: 0;
  font-weight: 500;
  padding-left: 25px;

}

ion-col input.pin-input {
  width: 50px;
  /* min-width: 10px !important; */
  height: 50px;
  text-align: center;
  /* margin: auto; */
  margin: 0 6px;
  border: none;
  border-bottom: 2px solid #303F9F;
}

input[type='tel']:focus {
  border: 1px solid #303F9F !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//OTP CSS
ion-col .ng-otp-input {
  text-align: center !important;

}

.pin-wrapper {
  margin: auto;
  text-align: center;
}

.mat-error {
  display: block;
  font-size: 9px;
}

mat-card.mat-card.form-card {
  margin: 10px;
  padding: 5px;
  margin: 5px 15px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

//Media query CSS

@media only screen and (min-width: 768px) {
  mat-card.mat-card.form-card {
    margin: auto !important;
    width: 450px !important;
  }

  p.pin-para {
    padding-left: 114px;
  }

}

@media only screen and (min-width: 320px) and (max-width:767px) {
  mat-card.mat-card.form-card {

    // margin:auto!important;
    // width:320px !important;
    margin: 25px;
  }
}