<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dried Tube Specimen - HIV Viral Load
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <p *ngIf="viewAccessMessage">{{viewAccessMessage}}</p>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Participant Details
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-grid>
        <ion-row *ngIf="partDetailsArray.participantName">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Participant Name </span>
            </p>
          </ion-col>
          <ion-col size="1"class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{partDetailsArray.participantName}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="partDetailsArray.participantCode">
          <ion-col size="5"class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Participant Code </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{partDetailsArray.participantCode}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="partDetailsArray.affiliation">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Affiliation </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span> {{partDetailsArray.affiliation}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="partDetailsArray.phone">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Phone No </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{partDetailsArray.phone}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="partDetailsArray.mobile">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Mobile No</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{partDetailsArray.mobile}}</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Shipment Details
        </mat-panel-title>

      </mat-expansion-panel-header>

      <ion-grid>
        <ion-row *ngIf="shipmentsDetailsArray.shipmentDate">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Shipment Date </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{shipmentsDetailsArray.shipmentDate}}</span>
            </p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="shipmentsDetailsArray.resultDueDate">
          <ion-col size="5" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">Result Due Date </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p text-wrap>
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p text-wrap>
              <span>{{shipmentsDetailsArray.resultDueDate}}
              </span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-xs class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Test Receipt Date</mat-label>
              <input matInput  [matDatepicker]="testReceiptPicker" [(ngModel)]="testReceiptDate" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="testReceiptPicker"></mat-datepicker-toggle>
              <mat-datepicker #testReceiptPicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col size="6" size-xs class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Sample Rehydration Date</mat-label>
              <input matInput [matDatepicker]="sampleRhdPicker"[(ngModel)]="sampleRhdDate" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
              <mat-datepicker #sampleRhdPicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          
          <ion-col size="6" size-xs class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Testing Date</mat-label>
              <input matInput [matDatepicker]="testDatePicker" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #testDatePicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col size="6" size-xs class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Viral Load Assay </mat-label>
              <mat-select [(ngModel)]="vlassay" name="vlassay" required>
                <mat-option>--Select--</mat-option>
                <mat-option *ngFor="let alg of algUsed" [value]="alg.id">
                  {{alg.name}}
                </mat-option>
              </mat-select>

              <mat-error *ngIf="!vlassay">Please choose Viral Load Assay </mat-error>
            </mat-form-field>

          </ion-col>
          <ion-col size="6" size-xs *ngIf="vlassay=='1'" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Please specify Other Assay Name </mat-label>
              <input matInput [(ngModel)]="othervlassay" placeholder="Enter Other Assay Name" required>
              <mat-error *ngIf="!othervlassay">Please specify Other Assay Name </mat-error>
            </mat-form-field>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Specimen Volume used for testing</mat-label>
              <input matInput [(ngModel)]="specVolTest" placeholder="Enter Specimen Volume">
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Assay Expiration Date</mat-label>
              <input matInput [matDatepicker]="assayExpDate" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="assayExpDate"></mat-datepicker-toggle>
              <mat-datepicker #assayExpDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>

          <ion-col size="6" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Assay Lot Number</mat-label>
              <input matInput [(ngModel)]="assayLotNo" placeholder="Enter Assay Lot Number">
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Response Date</mat-label>
              <input matInput [matDatepicker]="respDate" placeholder="Choose a date" required disabled>
              <mat-datepicker-toggle matSuffix [for]="respDate"></mat-datepicker-toggle>
              <mat-datepicker #respDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col size="6" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Mode of Receipt</mat-label>
              <mat-select [(ngModel)]="receiptmode" name="receiptmode" required>
                <mat-option>--Select--</mat-option>
                <mat-option value="1">Online Response</mat-option>
                <mat-option value="2">Courier</mat-option>
                <mat-option value="3">Email</mat-option>
                <mat-option value="4">Scan</mat-option>
                <mat-option value="5">SMS</mat-option>
              </mat-select>

              <mat-error *ngIf="!receiptmode">Please choose the Mode Of Receipt </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>
      </ion-grid>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PT Panel Test
        </mat-panel-title>

      </mat-expansion-panel-header>
      <ion-row>
        <ion-col class="grid-input-col">
          <section class="div-section">
            <mat-checkbox [(ngModel)]="ptPanelTest">PT panel not tested</mat-checkbox>
          </section>
        </ion-col>
      </ion-row>
      <section *ngIf="ptPanelTest==false || !ptPanelTest">     
      <ion-row>
        <ion-col class="grid-input-col">
          <section class="div-section">
            <p>Please Note :</p>
            <ul>
              <li> Viral Load must be entered in log10 copies/ml. There's a conversion calculator (from cp/mL to log)
                below. Please use if needed.</li>
              <li> Please provide numerical results (such as: 0.00 to 7.00 log10 copies/ml).</li>
              <li> For negative or undetectable result (TND), please enter 0.00.</li>
              <li> For result value that is &lt;LOD, please enter the value of assay LOD (such as 1.6 for &lt;40
                copies/mL) and provide “&lt;40 copies/mL” under comment section</li>
            </ul>
          </section>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="grid-input-col">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
            <mat-label>Viral Load Calculator (Convert copies/ml to Log10)
            </mat-label>
            <input matInput [(ngModel)]="vlCalc" placeholder="Enter result value to calculate log value"
              (ngModelChange)="calcLog()">
          </mat-form-field>
          <p class="log-para">{{vlLog}}</p>
        </ion-col>
      </ion-row>

      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Control/Sample 1">
          <ion-row class="padding-top-10">
            <ion-col size="6" size-xs class="grid-input-col">
              <!-- <p>Control/Sample	</p> -->
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Negative Control
                </mat-label>
                <input matInput [(ngModel)]="vlCalc" placeholder="Viral Load (log10 copies/ml)"
                  (ngModelChange)="calcLog()">
              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <!-- <p>TND(Target Not Detected)</p> -->
              <mat-checkbox>TND(Target Not Detected)</mat-checkbox>

            </ion-col>
          </ion-row>
        </mat-tab>
        <mat-tab label="Control/Sample 2">
          <ion-row class="padding-top-10">
            <ion-col size="6" size-xs class="grid-input-col">
              <!-- <p>Control/Sample	</p> -->
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Negative Control
                </mat-label>
                <input matInput [(ngModel)]="vlCalc" placeholder="Viral Load (log10 copies/ml)"
                  (ngModelChange)="calcLog()">
              </mat-form-field>
            </ion-col>
            <ion-col size="6" size-xs class="grid-input-col">
              <!-- <p>TND(Target Not Detected)</p> -->
              <mat-checkbox>TND(Target Not Detected)</mat-checkbox>
            </ion-col>
          </ion-row>
        </mat-tab>
      </mat-tab-group>
    </section>
    <section *ngIf="ptPanelTest">
     <ion-row>
       <ion-col size="12" class="grid-input-col">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>
                  Reason for not testing the PT Panel </mat-label>
              <mat-select [(ngModel)]="vlNotTestedReason" name="vlNotTestedReason" required>
                <mat-option>--Select--</mat-option>
                <mat-option value="1">No Reagents For Testing Of PT Panel</mat-option>
                <mat-option value="2">No Lab Personal For Testing Of PT Panel</mat-option>
                <mat-option value="3"> Instrument Down</mat-option>
              </mat-select>
               <mat-error *ngIf="!vlNotTestedReason">Please choose the Reason for not testing</mat-error> 
            </mat-form-field>
       </ion-col>
       <ion-col size="12" class="grid-input-col">
          <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Your Comments</mat-label>
              <textarea matInput placeholder="Enter Your Comments here" [(ngModel)]="ptNotTestedComments" required></textarea>
              <mat-error *ngIf="!ptNotTestedComments">Please Enter Your Comments</mat-error> 
            </mat-form-field>
        </ion-col>
        <ion-col size="12" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Do you need any support from the PT Provider ?</mat-label>
                <textarea matInput placeholder="Enter Your Comments here" [(ngModel)]="ptSupportComments" required></textarea>
                <mat-error *ngIf="!ptSupportComments">Please Enter Your Comments</mat-error> 
              </mat-form-field>
          </ion-col>
     </ion-row>        
    </section>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Other Informations
        </mat-panel-title>

      </mat-expansion-panel-header>

      <ion-grid>
        <ion-row>
          <ion-col class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Supervisor Review </mat-label>
              <mat-select [(ngModel)]="supReview" name="supReview">
                <mat-option>--Select--</mat-option>
                <mat-option value="yes">YES</mat-option>
                <mat-option value="no">NO</mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col *ngIf="supReview=='yes'" class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Supervisor Name </mat-label>
              <input matInput [(ngModel)]="supName" placeholder="Enter Supervisor Name">
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="grid-input-col">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Comments</mat-label>
              <textarea matInput placeholder="Enter Comments here" [(ngModel)]="comments"></textarea>
            </mat-form-field>
          </ion-col>
        </ion-row>

      </ion-grid>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>


</ion-content>