<app-header [titleHeader]="'Change Password'" [isMenuOrBackButton]="'menu'"></app-header>

<ion-content>
  <ion-grid padding>
    <ion-row class="row-top">
      <ion-col>
        <img src="assets/img/ept-logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <form class="login-form">

    <mat-card>
      <mat-card-title> </mat-card-title>
      <mat-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="text-center">
              <mat-form-field class="login-full-width" appearance="outline">
                <mat-label>Old Password</mat-label>
                <input matInput [type]="oldpswdhide ? 'password' : 'text'" [formControl]="oldPswdFormControl" required>
                <button mat-icon-button matSuffix (click)="oldpswdhide = !oldpswdhide"
                  [attr.aria-label]="'hide password'" [attr.aria-pressed]="oldpswdhide">
                  <mat-icon>{{oldpswdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <!-- <mat-error *ngIf="(oldPswdFormControl.hasError('trimmedEightChars')&& !oldPswdFormControl.hasError('required'))">
                      Old Password must be atleast <strong>8 Characters</strong>
                    </mat-error>
                    <mat-error *ngIf="(!oldPswdFormControl.hasError('trimmedEightChars') && !oldPswdFormControl.hasError('required') && oldPswdFormControl.hasError('invalidpswd'))">
                      Old Password must contain atleast<strong> one </strong> special character, <strong> one </strong> number and <strong> one </strong> alphabet.
                    </mat-error> -->
                <mat-error *ngIf="oldPswdFormControl.hasError('required')">
                     Old Password is <strong>required</strong>
                    </mat-error>
              </mat-form-field>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="login-full-width" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput [type]="newpswdhide ? 'password' : 'text'" [formControl]="newPswdFormControl"
                  [errorStateMatcher]="matcher" required>
                <button mat-icon-button matSuffix (click)="newpswdhide = !newpswdhide"
                  [attr.aria-label]="'hide password'" [attr.aria-pressed]="newpswdhide">
                  <mat-icon>{{newpswdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                  *ngIf="(newPswdFormControl.hasError('trimmedEightChars') && !newPswdFormControl.hasError('required'))">
                  New Password must be atleast <strong>8 Characters</strong>
                </mat-error>
                <mat-error class="passwordError"
                  *ngIf="(!newPswdFormControl.hasError('trimmedEightChars') && !newPswdFormControl.hasError('required') && newPswdFormControl.hasError('invalidpswd'))">
                  New Password must contain atleast<strong> one </strong> special character, <strong> one </strong>
                  number and <strong> one </strong> alphabet.
                </mat-error>
                <mat-error *ngIf="newPswdFormControl.hasError('required')">
                  New Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="login-full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="confirmpswdhide ? 'password' : 'text'" [formControl]="confirmPswdFormControl"
                  [errorStateMatcher]="matcher" (keyup)="matchPassword()" required>
                <button mat-icon-button matSuffix (click)="confirmpswdhide = !confirmpswdhide"
                  [attr.aria-label]="'hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{confirmpswdhide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>

                <mat-error *ngIf="confirmPswdFormControl.hasError('required')">
                  Confirm Password is <strong>required</strong>
                </mat-error>
                <mat-error 
                  *ngIf="(confirmPswdFormControl.hasError('trimmedEightChars') && !confirmPswdFormControl.hasError('required') && !confirmPswdFormControl.hasError('MatchPassword'))">
                  Confirm Password must be atleast <strong>8 Characters</strong>
                </mat-error>
                <mat-error class="passwordError"
                  *ngIf="(!confirmPswdFormControl.hasError('trimmedEightChars') && !confirmPswdFormControl.hasError('required') && confirmPswdFormControl.hasError('invalidpswd') && !confirmPswdFormControl.hasError('MatchPassword')) ">
                  Confirm Password must contain atleast <strong>one</strong> special character, <strong>one</strong>
                  number and <strong>one</strong> alphabet.
                </mat-error>
                <mat-error
                  *ngIf="(!confirmPswdFormControl.hasError('trimmedEightChars') && !confirmPswdFormControl.hasError('required') && !confirmPswdFormControl.hasError('invalidpswd') && confirmPswdFormControl.hasError('MatchPassword'))">
                  Password do not match
                </mat-error>
              </mat-form-field>


            </ion-col>

          </ion-row>



          <!-- <mat-grid-list class="login-btn-grid" cols="1">
          <mat-grid-tile> -->
          <ion-row>
            <ion-col>

            </ion-col>
            <button ion-col mat-raised-button color="primary" class="text-center"
              (click)="changePassword()">Submit</button>
            <!-- </ion-col> -->
            <ion-col>

            </ion-col>

          </ion-row>
        </ion-grid>
        <!-- </mat-grid-tile>

        </mat-grid-list> -->

      </mat-card-content>
    </mat-card>

  </form>
</ion-content>