<ion-content>
  <ion-grid padding class="appPasswordGrid">
    <ion-row class="row-top">
      <ion-col>
        <img src="assets/img/ept-logo.png">
      </ion-col>
    </ion-row>
    <p class="text-center">
      EPT Test And Training Instance
    </p>
    <p class="partiName">Welcome {{participantName}} ,</p>
    <p class="setPin">Verify your PIN</p>
  </ion-grid>

  <form autocomplete="off">

    <mat-card class="form-card">
    
      <mat-card-content>
        <ion-grid>
          <ion-row class="padding-10 ">
            <p class="pin-para">Enter your registered PIN number</p>
            <ion-col>
              <ng-otp-input class="ng-otp-input" #ngPinInput (onInputChange)="onPinNumberChange($event)"
            oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''"  *ngIf="showPinNumber" [config]="config">
          </ng-otp-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-card-content>
    </mat-card>
  </form>
</ion-content>