<ion-content>
  <ion-grid class="ion-padding" class="appPasswordGrid">
    <ion-row class="row-top">
      <ion-col>
        <img src="assets/img/ept-logo.png">
      </ion-col>
    </ion-row>
    <p class="partiName">Welcome {{participantName}} ,</p>
    <p class="setPin" *ngIf="!isBiometricUsed">Verify your PIN</p>
  </ion-grid>

  <form autocomplete="off" > 

    <mat-card class="form-card">
    
      <mat-card-content>
        <ion-grid>
          <ion-row class="padding-10 " *ngIf="isBiometricUsed == false">
            <p class="pin-para">Enter your registered PIN number</p>
            <ion-col>
              <ng-otp-input class="ng-otp-input" #ngPinInput (onInputChange)="onPinNumberChange($event)"
            oninput="this.value?this.value=this.value.replace(/(?![0-9])./gmi,''):''"  *ngIf="showPinNumber" [config]="config">
          </ng-otp-input>
            </ion-col>
          </ion-row>
           <ion-row class="padding-10" *ngIf="isBiometricUsed == false" style="text-align: center;">
            <ion-col size="12">
              <ion-button style="text-transform: capitalize;" shape="round" expand="block" fill="outline" (click)="showFingerprintAdd()">Use FingerPrint</ion-button>
            </ion-col>
            </ion-row>
           <ion-row class="padding-10" *ngIf="isBiometricUsed == true && showbutton" style="text-align: center;">
            <ion-col size="12">
              <ion-button style="text-transform: capitalize;" shape="round" expand="block" fill="outline" (click)="showFingerprintAuthDlg()">Use FingerPrint</ion-button>
            </ion-col>
          <!-- </ion-row>
            <ion-row class="padding-10" *ngIf="isBiometricUsed == true && showbutton" style="text-align: center;"> -->
            <ion-col size="12"><p>(or)</p></ion-col>
            <ion-col size="12">
              <ion-button style="text-transform: capitalize;" shape="round" expand="block" fill="outline" (click)="gotoAppPassPage()">Use PIN</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </mat-card-content>
    </mat-card>
  </form>
 

</ion-content>