.text-center.native-btn.syncAll{
    height: 45px!important;
    }
    ion-footer{
        ion-toolbar {
            height: 54px;
            --min-height:25px !important;
            --background:#fff !important;
            ion-title{
                color: #616161 !important;
                padding: 10px;
                text-align: center;
                font-size: 13px;
                font-weight: 100;
            }
        }
    }
.filterToolbar{
    height: 45px!important;
}    
.filterFooterGrid{
    padding: 0px;
    margin-left: 5px;
    margin-right: 3px;
    margin-top: -2px;
}
.text-center.native-btn.filterButton.resetButton{
    float: right!important;
}
.text-center.native-btn.filterButton{
    width: 100px;
}