.text-center.native-btn.syncAll{
    height: 45px!important;
    }
    ion-footer{
        ion-toolbar {
            height: 54px;
            --min-height:25px !important;
            --background:#fff !important;
            ion-title{
                color: #616161 !important;
                padding: 10px;
                text-align: center;
                font-size: 13px;
                font-weight: 100;
            }
        }
    }