<app-header  *ngIf="isShowReviewMsg==false" [titleHeader]="schemeName" [isMenuOrBackButton]="'back'"></app-header>

<app-header *ngIf="isShowReviewMsg==true" [titleHeader]="viewSchemeName" [isMenuOrBackButton]="'back'"></app-header>

<ion-content>
  
    <p *ngIf="viewAccessMessage" class="accessMsg">{{viewAccessMessage}}</p>

    <p *ngIf="isViewPage==false"  class="infoMsg">Please review and verify your result submission</p>

  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header  >
        <mat-panel-title>
          <ion-grid class="panelHeading">
            <ion-row>
              <ion-col size="12" class="grid-readonly-col">
                <span class="text-title-color">Participant Details</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ion-grid>

        <ion-row *ngIf="partiDetailsArray.participantName">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Participant Name</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.participantName}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.participantCode">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Participant Code </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.participantCode}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.affiliation">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Affiliation </span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.affiliation}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.phone">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Tel Phone No</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.phone}}</span>
            </p>
          </ion-col>
        </ion-row>


        <ion-row *ngIf="partiDetailsArray.mobile">
          <ion-col size="6" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">Mobile No</span>
            </p>
          </ion-col>
          <ion-col size="1" class="grid-readonly-col">
            <p class="ion-text-wrap">
              <span class="text-title-color">:</span>
            </p>
          </ion-col>
          <ion-col class="grid-readonly-col">
            <p class="ion-text-wrap" class="partiValues">
              <span>{{partiDetailsArray.mobile}}</span>
            </p>
          </ion-col>
        </ion-row>

      </ion-grid>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>


    <form #shipmentPanelForm="ngForm" novalidate>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header >
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Shipment Details</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidShipmentDetails==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ion-grid>
          <ion-row *ngIf="shipmentData.shipmentDate">
            <ion-col size="5" class="grid-readonly-col">
              <p class="ion-text-wrap">
                <span class="text-title-color">Shipment Date </span>
              </p>
            </ion-col>
            <ion-col size="1" class="grid-readonly-col">
              <p class="ion-text-wrap">
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col class="grid-readonly-col">
              <p class="ion-text-wrap">
                <span>{{shipmentData.shipmentDate}} </span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="shipmentData.resultDueDate">
            <ion-col size="5" class="grid-readonly-col">
              <p class="ion-text-wrap">
                <span class="text-title-color">Result Due Date </span>
              </p>
            </ion-col>
            <ion-col size="1" class="grid-readonly-col"> 
              <p class="ion-text-wrap">
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col class="grid-readonly-col"> 
              <p class="ion-text-wrap">
                <span>{{shipmentData.resultDueDate}}
                </span>
              </p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="shipmentCode">
            <ion-col size="5" class="grid-readonly-col">
              <p text-wrap>
                <span class="text-title-color">Shipment Code </span>
              </p>
            </ion-col>
            <ion-col size="1" class="grid-readonly-col">
              <p text-wrap>
                <span class="text-title-color">:</span>
              </p>
            </ion-col>
            <ion-col class="grid-readonly-col">
              <p text-wrap>
                <span>{{shipmentCode}}
                </span>
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>

          <ion-row>
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Test Receipt Date  <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="testReceiptPicker" [(ngModel)]="shipmentData.testReceiptDate"
                placeholder="Choose Test Receipt Date" required  name="seroTestReceiptDate"
                  #seroTestReceiptDate="ngModel" [readonly]="isView!='true'" [disabled]="isView=='true'"  [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" data-alert="Please choose Test Receipt Date" id="testReceiptDate" >
                <mat-datepicker-toggle matSuffix [for]="testReceiptPicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'"  class="clearDateIcon" ios="ios-close" (click)="clearTestReceiptDate()"></ion-icon>
                <mat-datepicker #testReceiptPicker  [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.testReceiptDate || shipmentData.testReceiptDate==''">
                  Test Receipt Date is required</mat-error>
              </mat-form-field>
            </ion-col>
    
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Sample Rehydration Date  <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="sampleRhdPicker" name="covidSampleRhdDate" #covidSampleRhdDate="ngModel"  [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}"
                  [(ngModel)]="shipmentData.sampleRehydrationDate" placeholder="Choose Sample Rehydration Date" 
                  required [readonly]="isView!='true'" [disabled]="isView=='true'" data-alert="Please choose Sample Rehydration Date" id="sampleRehydrationDate" >
                <mat-datepicker-toggle matSuffix [for]="sampleRhdPicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearSampleRehydDate()"></ion-icon>
                <mat-datepicker #sampleRhdPicker  [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.sampleRehydrationDate || shipmentData.sampleRehydrationDate==''">
                  Sample Rehydration Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Testing Date <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="testDatePicker" [(ngModel)]="shipmentData.shipmentTestingDate" name="seroTestingDate"   [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}"
                  #seroTestingDate="ngModel" placeholder="Choose Testing Date"  required [readonly]="isView!='true'" [disabled]="isView=='true'" data-alert="Please choose Testing Date" id="shipmentTestingDate" >
                <mat-datepicker-toggle matSuffix [for]="testDatePicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearTestingDate()"></ion-icon>
                <mat-datepicker #testDatePicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="!shipmentData.shipmentTestingDate || shipmentData.shipmentTestingDate==''">
                  Testing Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" *ngIf="isPartiEditRespDate"  class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Response Date <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="respDatePicker" [(ngModel)]="shipmentData.responseDate" name="seroRespDate" [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" 
                placeholder="Choose Response Date"  #seroRespDate="ngModel" [required]="isPartiEditRespDate" [readonly]="isView!='true'" [disabled]="isView=='true'" data-alert="Please choose Response Date" id="responseDate">
                <mat-datepicker-toggle matSuffix [for]="respDatePicker"></mat-datepicker-toggle>
                <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearResponseDate()"></ion-icon>
                <mat-datepicker #respDatePicker [disabled]="isView=='true'"></mat-datepicker>
                <mat-error *ngIf="(!shipmentData.responseDate || shipmentData.responseDate=='') && isPartiEditRespDate"> Response Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="grid-input-col" *ngIf="isPartiEditModeRec">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Mode of Receipt</mat-label>
                <mat-select [(ngModel)]="shipmentData.modeOfReceipt" name="rmode" #rmode="ngModel" 
                [disabled]="isView=='true'" id="modeOfReceipt">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let modeRec of shipmentData.modeOfReceiptDropdown" [value]="modeRec.value">
                    {{modeRec.show}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isQCDoneShow && participantQcAccess">
            <ion-col size="12">
              <mat-label class="matLabel" style="margin-left: 5px;font-size: 13px;">QC Done <span class="danger-text">*</span></mat-label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="login-full-width grid-col-form"
                [(ngModel)]="qcDone" name="vlQcDone" #vlQcDone="ngModel" [required]="isQCDoneShow"  [disabled]="isView=='true'">
                <mat-radio-button class="example-radio-button" *ngFor="let qcData of qcRadioArray"
                  [value]="qcData.value">
                  {{qcData.show}}
                </mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="!qcDone">QC Done is required</mat-error>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="isQCDoneShow && qcDone=='yes' && participantQcAccess">
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>QC Date <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [matDatepicker]="qcDatePicker" [(ngModel)]="qcDate" name="seroqcDate" #seroqcDate="ngModel" placeholder="Choose QC Date" [required]="isQCDoneShow && qcDone=='yes'" [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" 
                [readonly]="isView!='true'" [disabled]="isView=='true'" data-alert="Please choose QC Date" id="qcDate">
                <mat-datepicker-toggle matSuffix [for]="qcDatePicker"></mat-datepicker-toggle>
                 <ion-icon name="close" *ngIf="isView=='false'" class="clearDateIcon" ios="ios-close" (click)="clearQCDate()"></ion-icon>
                <mat-datepicker #qcDatePicker  [disabled]="isView=='true'"></mat-datepicker>
                   <mat-error *ngIf="!qcDate || qcDate==''">QC Date is required</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="isQCDoneShow && qcDone=='yes' && participantQcAccess">
            <ion-col size="12">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>QC Done By <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <input matInput [(ngModel)]="qcDoneBy" name="seroqcDoneBy" #seroqcDoneBy="ngModel" placeholder="QC Done By" [required]="isQCDoneShow && qcDone=='yes'"  [disabled]="isView=='true'" data-alert="Please enter QC Done By" id="qcDoneBy">
                <mat-error *ngIf="!qcDoneBy">QC Done By is required</mat-error>
              </mat-form-field>  
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Number of tests<span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <mat-select [(ngModel)]="shipmentData.numberOfTests" name="covidNumberOfTests" #covidNumberOfTests="ngModel" required [disabled]="isView=='true'" data-alert="Please select Number of tests" id="numberOfTests">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of shipmentData.numberOfTestsDropdown" [value]="item.value">
                    {{item.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="!shipmentData.numberOfTests">Please select the Number of tests</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>

        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn" type="submit" (click)="checkShipmentPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>

    <form #PTPanelTestForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showPTPanelData" [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color"> PT Panel Test</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidPTPanel">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-row>
          <ion-col class="grid-input-col">
            <section class="div-section">
              <mat-checkbox [(ngModel)]="ptPanelNotTested" name="covidPtPanelTest" #covidPtPanelTest="ngModel" [disabled]="isView=='true'"
               >PT panel not tested</mat-checkbox>
            </section>
          </ion-col>
        </ion-row>

        <section *ngIf="ptPanelNotTested">
          <ion-row>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>
                  {{ptPanelData.vlNotTestedReasonText}} <span class="danger-text" *ngIf="isView=='true'">*</span>
                </mat-label>
                <mat-select [(ngModel)]="ptPanelData.vlNotTestedReason" name="covidNotTested" #covidNotTested="ngModel"
                  [required]="ptPanelNotTested" [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of ptPanelData.vlNotTestedReasonDropdown" [value]="item.value">
                    {{item.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="ptPanelNotTested && !vlNotTestedReason">Please choose the Reason for not testing
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>
                  {{ptPanelData.ptNotTestedCommentsText}} <span class="danger-text" *ngIf="isView=='true'">*</span>
                </mat-label>
                <textarea matInput placeholder="Enter Your Comments here" name="covidPtNotTestedComments"
                  #covidPtNotTestedComments="ngModel" [(ngModel)]="ptPanelData.ptNotTestedComments"
                  [disabled]="isView=='true'" [required]="ptPanelNotTested"></textarea>
                <mat-error *ngIf="ptPanelNotTested && !ptPanelData.ptNotTestedComments">Please Enter Your Comments
                </mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="12" class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>
                  {{ptPanelData.ptSupportCommentsText}}
                </mat-label>
                <textarea matInput placeholder="Enter Your Support Comments here" name="covidPtNotSupportComments"
                  #covidPtNotSupportComments="ngModel" [disabled]="isView=='true'"
                  [(ngModel)]="ptPanelData.ptSupportComments"></textarea>
                  <!-- [required]="ptPanelNotTested" -->
                <!-- <mat-error *ngIf="ptPanelNotTested && !ptPanelData.ptSupportComments">Please Enter Your Comments
                </mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
        </section>
        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type='submit' (click)="checkPtPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </form>


    <mat-card class="main-card-panel" *ngIf="showTestTypePanel && shipmentData.numberOfTests && (ptPanelNotTested==false || !ptPanelNotTested)">
      <mat-card-title> Test Type Details</mat-card-title>
      <mat-card-content>
    <form #testTypePanelForm="ngForm" novalidate> 
      <div *ngFor="let testTypeItem of testTypeTextArray;let i = index;">
        <mat-expansion-panel [expanded]="step === i+2" (opened)="setStep(i+2)" *ngIf="(shipmentData.numberOfTests==1 && testTypeItem=='Test-1') || (shipmentData.numberOfTests==2 && (testTypeItem=='Test-1' || testTypeItem=='Test-2')) || (shipmentData.numberOfTests==3 && (testTypeItem=='Test-1' || testTypeItem=='Test-2' || testTypeItem=='Test-3'))">
             <mat-expansion-panel-header>
            <mat-panel-title>
              <ion-grid class="panelHeading">
                <ion-row>
                  <ion-col size="10" class="grid-readonly-col">
                    <span class="text-title-color">{{testTypeItem}} </span>
                  </ion-col>
                  <ion-col size="2" class="grid-readonly-col" *ngIf="isValidTestTypeArray[i]">
                    <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-row class="testKitRow">
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Test Type <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
                <mat-select [(ngModel)]="testTypeModel.typeValue[i]" name="covidTestTypeName{{i}}" #covidTestTypeName="ngModel"                 
                (ngModelChange)="getSelectedTestTypeName($event,i,testTypeDropDownArray[testTypeItem].data)" required  [disabled]="isView=='true'">
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let testTypeNameItem of testTypeDropDownArray[testTypeItem].data" 
                    [value]="testTypeNameItem.value" >
                    {{testTypeNameItem.show}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="testTypeModel.typeValue[i]==''">Please select the Test Type for {{testTypeTextArray[i]}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="testTypeModel.typeValue[i]=='other'">
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Enter Kit Name </mat-label>
                <input matInput [(ngModel)]="testTypeModel.typeOther[i]" name="covidTypeOther{{i}}" #covidTypeOther="ngModel" 
                placeholder="Enter Kit Name"  [disabled]="isView=='true'">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Lot Number</mat-label>
                <input matInput [(ngModel)]="testTypeModel.lot[i]" placeholder="Enter Lot Number" 
                name="covidlot{{i}}" #covidlot="ngModel"  [disabled]="isView=='true'">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
  
            <ion-col size="12"  class="grid-readonly-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>Exp Date</mat-label>
                <input matInput [matDatepicker]="expDatePicker" [(ngModel)]="expDateObj[i]" placeholder="Choose Exp Date" [ngStyle]="{'color':isView === 'true'? 'rgba(0,0,0,.38)' : 'rgba(0,0,0,.87)'}" 
                name="covidExpDate{{i}}" #covidExpDate="ngModel" [readonly]="isView!='true'" [disabled]="isView=='true'">
                <mat-datepicker-toggle matSuffix [for]="expDatePicker"></mat-datepicker-toggle>
                <ion-icon name="close" ios="ios-close" *ngIf="isView=='false'" class="clearDateIcon" (click)="clearExpDate(i)"></ion-icon>
                <mat-datepicker #expDatePicker [disabled]="isView=='true'"></mat-datepicker>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <mat-action-row>
            <button mat-button color="primary" (click)="prevStep()">Previous</button>
            <button mat-button color="warn" (click)="checkTestTypePanel('next',i)">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
       </form>
       </mat-card-content>
</mat-card>
<form #sampleDetailsForm="ngForm" novalidate> 

    <mat-card class="main-card-panel" *ngIf="showSampleData && shipmentData.numberOfTests && (ptPanelNotTested==false || !ptPanelNotTested)">
      <mat-card-title> Sample Details</mat-card-title>
      <mat-card-content>
      <div *ngFor="let sampleName of samplesNameArr;let i = index;">
        <mat-expansion-panel *ngIf="showSampleData" [expanded]="step === i+testTypeIndex+2" (opened)="setStep(i+testTypeIndex+2)">        
          <mat-expansion-panel-header>
            <mat-panel-title>
              <ion-grid class="panelHeading">
                <ion-row>
                  <ion-col size="5" class="grid-readonly-col">
                    <span class="text-title-color covid19">{{sampleName}} <span class="danger-text" *ngIf="samplesArray.mandatory[i]==true">*</span></span>
                  </ion-col>
                  <ion-col size="5" class="grid-readonly-col" >
                  <span class="resultAbbreviation">{{result1Arr[i]?result1Arr[i].resultCode:'X'}} - {{result2Arr[i]?result2Arr[i].resultCode:'X'}} - {{result3Arr[i]?result3Arr[i].resultCode:'X'}} = {{finalResultArr[i]?finalResultArr[i].resultCode:'X'}}</span>
                  </ion-col>
                  <ion-col size="2" class="grid-readonly-col" *ngIf="isValidSampleDetails[i]">
                    <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ion-row *ngIf="(sampleDetailsArray.resultStatus[0]==true && ((shipmentData.numberOfTests==1 ||shipmentData.numberOfTests==2 ||shipmentData.numberOfTests==3) && sampleDetailsArray.resultsText[0]=='Result-1'))" class="sampleRow">
           <!-- [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true && 
            !result1Arr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
           
            <ion-col  size="12" class="grid-readonly-col">
              <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                <mat-label>{{sampleDetailsArray.resultsText[0]}}</mat-label>
                <mat-select [(ngModel)]="result1Arr[i]"
                name="result1_[{{i}}]" #result1="ngModel" [disabled]="isView=='true'" [compareWith]="objectComparisonFunction">               
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Result-1'].data" [value]="item">
                    {{item.show}}
                  </mat-option>
                </mat-select>                      
               <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !result1Arr[i]">Please Enter {{sampleDetailsArray.resultsText[0]}}</mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
      
          <ion-row *ngIf="(sampleDetailsArray.resultStatus[1] && ((shipmentData.numberOfTests==2 ||shipmentData.numberOfTests==3) && sampleDetailsArray.resultsText[1]=='Result-2'))">
                <!-- [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true &&
          !result2Arr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
            <ion-col  size="12" class="grid-readonly-col">
              <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                <mat-label>{{sampleDetailsArray.resultsText[1]}}</mat-label>
                <mat-select [(ngModel)]="result2Arr[i]"
                name="result2_[{{i}}]" #result2="ngModel" [disabled]="isView=='true'" [compareWith]="objectComparisonFunction">               
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Result-2'].data" [value]="item">
                    {{item.show}}
                  </mat-option>
                </mat-select>                      
               <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !result2Arr[i]">Please Enter{{sampleDetailsArray.resultsText[1]}}</mat-error> -->
              </mat-form-field>
            </ion-col>
          </ion-row>
      
          
            <!-- <ion-row *ngIf="sampleDetailsArray.resultStatus[2]"> -->
              <ion-row *ngIf="(sampleDetailsArray.resultStatus[2] && (shipmentData.numberOfTests==3 && sampleDetailsArray.resultsText[2]=='Result-3'))">
                    <!--  [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true &&
                 !result3Arr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
             <ion-col  size="12" class="grid-readonly-col">
                <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                  <mat-label>{{sampleDetailsArray.resultsText[2]}}</mat-label>
                  <mat-select [(ngModel)]="result3Arr[i]"
                  name="result3_[{{i}}]" #result3="ngModel" [disabled]="isView=='true'" [compareWith]="objectComparisonFunction">               
                    <mat-option>--Select--</mat-option>
                    <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Result-3'].data" [value]="item">
                      {{item.show}}
                    </mat-option>
                  </mat-select>                    
                 <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !result3Arr[i]">Please Enter {{sampleDetailsArray.resultsText[2]}}</mat-error> -->
                </mat-form-field>
              </ion-col>
            </ion-row>
      
            <ion-row *ngIf="sampleDetailsArray.resultStatus[3]"> 
              <!--    [ngClass]="{ 'mat-form-field-invalid':samplesArray.mandatory[i]==true &&
                 !finalResultArr[i],'mat-form-field-valid': samplesArray.mandatory[i]==false}" -->
              <ion-col  size="12" class="grid-readonly-col">
                <mat-form-field  class="login-full-width grid-col-form"  appearance="outline">
                  <mat-label>{{sampleDetailsArray.resultsText[3]}}</mat-label>
                  <mat-select [(ngModel)]="finalResultArr[i]"
                  name="finalResult_[{{i}}]" #finalResult="ngModel" [disabled]="isView=='true'" [compareWith]="objectComparisonFunction">           
                    <mat-option>--Select--</mat-option>
                   <mat-option *ngFor="let item of sampleDetailsArray['sampleList'][sampleName]['Final-Result'].data" [value]="item">
                      {{item.show}}
                    </mat-option>
                  </mat-select> 
                  <!-- [required]="samplesArray.mandatory[i]==true"         -->
                 <!-- <mat-error *ngIf="samplesArray.mandatory[i]==true && !finalResultArr[i]">Please Enter {{sampleDetailsArray.resultsText[3]}}</mat-error> -->
                </mat-form-field>
              </ion-col>
            </ion-row>
          

          <mat-action-row>
            <button mat-button color="primary" (click)="prevStep()">Previous</button>
            <button mat-button color="warn" (click)="checkSampleDetailPanel('next',i)">Next</button>
          </mat-action-row>
        </mat-expansion-panel>


     </div> 
  

  </mat-card-content>
</mat-card>


</form>
    <!-- sample details end -->

    <!-- Custom Field panel starts-->

    <form #customFieldsForm="ngForm" novalidate>

      <mat-expansion-panel *ngIf="showCustomFieldData" [expanded]="step === testTypeIndex+sampleIndex+2"
       (opened)="setStep(testTypeIndex+sampleIndex+2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <ion-grid class="panelHeading">
              <ion-row>
                <ion-col size="10" class="grid-readonly-col">
                  <span class="text-title-color">Custom Fields</span>
                </ion-col>
                <ion-col size="2" class="grid-readonly-col" *ngIf="isValidCustField==true">
                  <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ion-grid>
          <ion-row *ngIf="customFieldData.customField1Text">
            <ion-col size="12"class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{customFieldData.customField1Text}}</mat-label>
                <input matInput [(ngModel)]="customFieldData.customField1Val" 
                placeholder="Enter {{customFieldData.customField1Text}}" #custField1="ngModel"
                 name="custField1" [disabled]="isView=='true'">
                <mat-error *ngIf="!customFieldData.customField1Val">
                  {{customFieldData.customField1Text}} is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="customFieldData.customField2Text">
            <ion-col size="12"class="grid-input-col">
              <mat-form-field class="login-full-width grid-col-form" appearance="outline">
                <mat-label>{{customFieldData.customField2Text}}</mat-label>
                <input matInput [(ngModel)]="customFieldData.customField2Val" 
                placeholder="Enter {{customFieldData.customField2Text}}" #custField2="ngModel"
                 name="custField2" [disabled]="isView=='true'">
                <mat-error *ngIf="!customFieldData.customField2Val">
                  {{customFieldData.customField2Text}} is required
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
     
        </ion-grid>
        <mat-action-row>
          <button mat-button color="primary" (click)="prevStep()">Previous</button>
          <button mat-button color="warn"
          type='submit' (click)="checkCustFieldPanel('next')">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
      </form>

      <!-- Custom Panel Ends-->
    <form #otherInfoPanelForm="ngForm" novalidate>
    <mat-expansion-panel [expanded]="step === testTypeIndex+sampleIndex+dynamicStep+2"
      (opened)="setStep(testTypeIndex+sampleIndex+dynamicStep+2)">
      <mat-expansion-panel-header >
        <mat-panel-title>
          <ion-grid class="panelHeading">
            <ion-row>
              <ion-col size="10" class="grid-readonly-col">
                <span class="text-title-color">Other Information</span>
              </ion-col>
              <ion-col size="2" class="grid-readonly-col" *ngIf="isValidOtherInfoPanel==true">
                <ion-icon name="checkmark-circle" class="checkMarkIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Supervisor Review <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
              <mat-select [(ngModel)]="supReview" name="serosupReview" #serosupReview="ngModel" required  [disabled]="isView=='true'">
                <mat-option>--Select--</mat-option>
                <mat-option *ngFor="let item of supervisorReviewArray" [value]="item.value">
                  {{item.show}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!supReview">Supervisor Review is required</mat-error>
            </mat-form-field>
          </ion-col>
          <ion-col size="12" *ngIf="supReview=='yes'">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>{{approvalLabel}} <span class="danger-text" *ngIf="isView=='true'">*</span></mat-label>
              <input matInput [(ngModel)]="supervisorName" name="serosupervisorName" #serosupervisorName="ngModel"
               placeholder="Enter Supervisor Name" [required]="supReview=='yes'"  [disabled]="isView=='true'">
              <mat-error *ngIf="!supervisorName">Supervisor Name is required</mat-error>
            </mat-form-field>     
          </ion-col>
          <ion-col size="12">
            <mat-form-field class="login-full-width grid-col-form" appearance="outline">
              <mat-label>Comments</mat-label>
              <textarea matInput placeholder="Enter Comments here" [(ngModel)]="comments" name="serocomments" #serocomments="ngModel"  [disabled]="isView=='true'"></textarea>
            </mat-form-field>
          </ion-col>
        </ion-row>


      </ion-grid>

      <mat-action-row>
        <button mat-button color="primary" (click)="prevStep()">Previous</button>
        <button mat-button color="warn" *ngIf="summarizeForm==false && isView!='true'" (click)="submitCovid19Form(shipmentPanelForm,sampleDetailsForm,otherInfoPanelForm)">Submit</button>
      </mat-action-row>
    </mat-expansion-panel>
    </form>
  </mat-accordion>

  <ion-grid *ngIf="summarizeForm==true">
    <ion-row>
      <ion-col size="6">
        <ion-button class="text-center native-btn summarizeButtons"
        (click)="editForm()">Edit 
      </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="text-center native-btn summarizeButtons confirm"
        (click)="confirmSerologyForm(shipmentPanelForm,PTPanelTestForm,otherInfoPanelForm)">Confirm 
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>