<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="main-toolbar">
          <div class="text-center">
              <img class="logoImage" class="padding-15" src="assets/img/ept-logo.png">
              <p class="partiName">Welcome {{participantName}}</p>
          </div>
         
          <!-- <ion-title>Menu</ion-title> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

            <div *ngIf="p.title!='Logout'">
              <ion-item class="sidemenu-item" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"
                lines="none" detail="false" [class.selected]="selectedIndex == i">
                <div class="sidemenu-img-icon">
                  <img src="assets/img/{{p.icon}}.png">
                </div>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>
            <div *ngIf="p.title=='Logout'">
              <ion-item class="sidemenu-item" (click)="selectedIndex = i;logout();" routerDirection="root" lines="none"
                detail="false" [class.selected]="selectedIndex == i">
                <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
                <div class="sidemenu-img-icon">
                  <img src="assets/img/{{p.icon}}.png">
                </div>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </div>

          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list class="no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <img src="assets/img/{{p.icon}}.png">            
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>           
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item (click)="logout()">            
              <img src="assets/img/logout.png">
            <ion-label >
             Logout
            </ion-label>          
          </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-title >Version : {{appVersionNumber}}</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
