.profileDiv{
    margin: 7px;
}
.matIcons{
    color: var(--ion-color-primary);
}
.login-full-width.cust-form{
   width: 100%!important;
}
.backIcon{
    font-size: 20px;
    margin-left: -20px;
    margin-top: -4px;
}
.text-center.submit{
  float: right;  
  width: 90px;
}
.text-center.back{
  width: 90px;
}