<app-header [titleHeader]="'My Profile'" [isMenuOrBackButton]="'menu'"></app-header>

<ion-content>
  <div class="profileDiv">
    <form #profilePageForm="ngForm" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width cust-form" appearance="outline">
              <mat-label class="matLabel">Primary e-mail address (used for login)</mat-label>
              <input matInput [(ngModel)]="primaryEmail" placeholder="" name="profilePrimaryEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #profilePrimaryEmail="ngModel">
              <button mat-icon-button matSuffix>
                <mat-icon class="matIcons">email</mat-icon>
              </button>
              <mat-error *ngIf="profilePrimaryEmail.errors?.pattern">
              Please enter a valid email address
            </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width cust-form" appearance="outline">
              <mat-label class="matLabel">First Name</mat-label>
              <input matInput [(ngModel)]="firstName" placeholder="" name="profileFirstName" #profileFirstName="ngModel"
                required>
              <button mat-icon-button matSuffix>
                <mat-icon class="matIcons">account_box</mat-icon>
              </button>
              <mat-error *ngIf="!firstName">
                First Name is required</mat-error>
            </mat-form-field>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width cust-form" appearance="outline">
              <mat-label class="matLabel">Last Name</mat-label>
              <input matInput [(ngModel)]="lastName" placeholder="Last Name" name="profileLastName"
                #profileLastName="ngModel" required>
              <button mat-icon-button matSuffix>
                <mat-icon class="matIcons">portrait</mat-icon>
              </button>
              <mat-error *ngIf="!lastName">
                Last Name is required</mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width cust-form" appearance="outline">
              <mat-label class="matLabel">Secondary e-mail address</mat-label>
              <input matInput [(ngModel)]="secEmailAddress" placeholder="" name="profileSecEmailAddress"
                #profileSecEmailAddress="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
              <button mat-icon-button matSuffix>
                <mat-icon class="matIcons">email</mat-icon>
              </button>
              <mat-error *ngIf="profileSecEmailAddress.errors?.pattern">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="!secEmailAddress">
                Secondary e-mail address is required</mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width cust-form" appearance="outline">
              <mat-label class="matLabel">Cell Phone Number</mat-label>
              <input matInput [(ngModel)]="cellPhoneNo" placeholder="" type="tel" maxlength="15" name="profileCellPhoneNo"
                #profileCellPhoneNo="ngModel" required>
              <button mat-icon-button matSuffix>
                <mat-icon class="matIcons">phone_iphone</mat-icon>
              </button>
              <mat-error *ngIf="!cellPhoneNo">
                Cell Phone Number is required</mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <mat-form-field class="login-full-width cust-form" appearance="outline">
              <mat-label class="matLabel">Phone Number</mat-label>
              <input matInput [(ngModel)]="phoneNo" placeholder="" type="tel" maxlength="15" name="profilePhoneNo" #profilePhoneNo="ngModel">
              <button mat-icon-button matSuffix>
                <mat-icon class="matIcons">phone_enabled
                </mat-icon>
              </button>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button ion-col mat-raised-button class="text-center back" color="primary" (click)="back()">
              <ion-icon slot="start" name="arrow-back" class="backIcon"></ion-icon>Back
            </button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <button ion-col mat-raised-button color="primary" class="text-center submit" type="submit"
              (click)="updateProfile(profilePageForm)">Submit</button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </div>
</ion-content>