<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="row-top">
      <ion-col>
        <img src="assets/img/ept-logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <form class="login-form">

    <mat-card>
      <mat-card-title> </mat-card-title>
      <mat-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field class="login-full-width" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Email Id" [formControl]="emailFormControl" (keyup)="trimEmailFormControl()"
                  [errorStateMatcher]="matcher">
                <button mat-icon-button matSuffix>
                  <mat-icon>local_post_office
                  </mat-icon>
                </button>

                <mat-error
                  *ngIf="(emailFormControl.hasError('invalidemail') && !emailFormControl.hasError('required'))">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>


          <ion-row>
            <ion-col></ion-col>
            <button ion-col mat-raised-button color="primary" class="text-center"
              (click)="forgotPassword()">Submit</button>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>

      </mat-card-content>
    </mat-card>
  </form>
</ion-content>